Repository hmcts/bulk-scan-processor, pull requests merged in 2018-11, with the labels that each got.

#206 AKS initial setup
  Jenkinsfile_CNP
  kubernetes/config.aat.yaml
  kubernetes/deployment.template.yaml
Labels: ns:bulk-scan-processor-pr-206

#269 Fix env overriding issues for non-preview
  Jenkinsfile_CNP
Labels: ns:bulk-scan-processor-pr-269

#263 Service bus cbs errors
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/integrationTest/resources/envelope.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/QueueClientSupplier.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/Processor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-263

#267 Create task for sending notifications to orchestrator
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/SendNotificationTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/SendNotificationTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/SendNotificationTaskTest.java
Labels: ns:bulk-scan-processor-pr-267

#270 Do not send messages to the queue from main jobs
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/variables.tf
  kubernetes/config.aat.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestWithAcquireLease.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/integrationTest/resources/envelope.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/Processor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/SendNotificationTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
Labels: ns:bulk-scan-processor-pr-270

#244 RPE-752 Use application gateway for processor
  Jenkinsfile_CNP
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/test_config.tf
  kubernetes/deployment.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeDeletionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetSasTokenTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/TestHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/UpdateStatusTest.java
  src/functionalTest/resources/1111006.metadata.json
  src/functionalTest/resources/1111006_2.metadata.json
  src/functionalTest/resources/application.conf
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorHandlingWrapperTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/StorageConfiguration.java
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-244

#272 Add extra wait in test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/TestHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/UpdateStatusTest.java
Labels: ns:bulk-scan-processor-pr-272

#271 Update scan delay for aat
  kubernetes/config.aat.yaml
Labels: ns:bulk-scan-processor-pr-271

#262 Use document management client
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/IncompleteResponseException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/InMemoryMultipartFile.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/DocumentManagementServiceTest.java
Labels: ns:bulk-scan-processor-pr-262

#275 Remove unused code
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/DocProcessedNotificationFailureException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/wrapper/ErrorHandlingWrapper.java
Labels: ns:bulk-scan-processor-pr-275

#276 Feature/simplify error handling
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/EnvelopeProcessorValidationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorHandlingWrapperTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ShedLockConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptionhandlers/TaskErrorHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/BlobDeleteFailureException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/ConnectionException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/DocFailureGenericException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/DocSignatureFailureException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/DocUploadFailureGenericException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/EnvelopeAwareThrowable.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/EventRelatedThrowable.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/FileNameIrregularitiesException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/LeaseAlreadyPresentException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/NonPdfFileFoundException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/PreviouslyFailedToUploadException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/wrapper/ErrorHandlingWrapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/Processor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/EnvelopeProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipVerifiers.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptionhandlers/TaskErrorHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
Labels: ns:bulk-scan-processor-pr-276

#278 Create an event if sending to the queue fails
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/SendNotificationTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/SendNotificationTask.java
Labels: ns:bulk-scan-processor-pr-278

#279 Change event-related exceptions to be unchecked exceptions again
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/EnvelopeProcessorValidationTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/DocSignatureFailureException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/FileNameIrregularitiesException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/NonPdfFileFoundException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/PreviouslyFailedToUploadException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/EnvelopeProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileProcessor.java
Labels: ns:bulk-scan-processor-pr-279

#282 Add dom4 j suppression as it is referenced only from tests
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-processor-pr-282

#280 Remove an unnecessary interface
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipVerifiers.java
Labels: ns:bulk-scan-processor-pr-280

#281 Introduce readiness and liveness checks
  kubernetes/deployment.template.yaml
Labels: ns:bulk-scan-processor-pr-281

#265 Upgrade shedlock
  build.gradle
Labels: dependencies, ns:bulk-scan-processor-pr-265

#283 Fix a curl command in the readme file
  README.md
Labels: ns:bulk-scan-processor-pr-283

#286 Extract a blob managing class from processors
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/Processor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
  src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: ns:bulk-scan-processor-pr-286

#284 Increase initial delays for health/ready checks
  kubernetes/deployment.template.yaml
Labels: ns:bulk-scan-processor-pr-284

#287 Add functionality for moving blobs to 'rejected' containers
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/BlobManagementProperties.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/RejectedBlobCopyException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bulk-scan-processor-pr-287

#289 Prevent 'rejected' containers from being processed
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bulk-scan-processor-pr-289

#293 Bump the version of java-logging
  build.gradle
  web.config
Labels: ns:bulk-scan-processor-pr-293

#303 Master catch-up merge
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
Labels: ns:bulk-scan-processor-pr-303

#288 Move invalid files to 'rejected' container
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeDeletionTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Event.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bulk-scan-processor-pr-288

#298 Update document type validation
  .gitignore
  src/functionalTest/resources/1111006.metadata.json
  src/functionalTest/resources/1111006_2.metadata.json
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/integrationTest/resources/envelope.json
  src/integrationTest/resources/zipcontents/fewer_pdfs_than_declared/metadata.json
  src/integrationTest/resources/zipcontents/mismatching_pdfs/metadata.json
  src/integrationTest/resources/zipcontents/more_pdfs_than_declared/metadata_4_24-06-2018-00-00-00.json
  src/integrationTest/resources/zipcontents/ok/metadata.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/DocumentTypeConverter.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/Document.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidatorTest.java
  src/test/resources/envelope.json
  src/test/resources/metafiles/invalid/enum-boundaries-for-clasification.json
  src/test/resources/metafiles/invalid/invalid-cheque-payment.json
  src/test/resources/metafiles/invalid/invalid-date-format.json
  src/test/resources/metafiles/invalid/invalid-non-scannable-items.json
  src/test/resources/metafiles/invalid/invalid-postal-order-payment.json
  src/test/resources/metafiles/invalid/invalid-scannable-items.json
  src/test/resources/metafiles/invalid/invalid-zip-file-name-format.json
  src/test/resources/metafiles/invalid/missing-required-fields.json
  src/test/resources/metafiles/invalid/missing-top-level-fields.json
  src/test/resources/metafiles/invalid/non-pdf-extension.json
  src/test/resources/metafiles/invalid/use-of-numeric.json
  src/test/resources/metafiles/valid/from-spec.json
Labels: ns:bulk-scan-processor-pr-298

#306 Revert "Update document type validation (#298)"
  .gitignore
  src/functionalTest/resources/1111006.metadata.json
  src/functionalTest/resources/1111006_2.metadata.json
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/integrationTest/resources/envelope.json
  src/integrationTest/resources/zipcontents/fewer_pdfs_than_declared/metadata.json
  src/integrationTest/resources/zipcontents/mismatching_pdfs/metadata.json
  src/integrationTest/resources/zipcontents/more_pdfs_than_declared/metadata_4_24-06-2018-00-00-00.json
  src/integrationTest/resources/zipcontents/ok/metadata.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/DocumentTypeConverter.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/Document.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidatorTest.java
  src/test/resources/envelope.json
  src/test/resources/metafiles/invalid/enum-boundaries-for-clasification.json
  src/test/resources/metafiles/invalid/invalid-cheque-payment.json
  src/test/resources/metafiles/invalid/invalid-date-format.json
  src/test/resources/metafiles/invalid/invalid-non-scannable-items.json
  src/test/resources/metafiles/invalid/invalid-postal-order-payment.json
  src/test/resources/metafiles/invalid/invalid-scannable-items.json
  src/test/resources/metafiles/invalid/invalid-zip-file-name-format.json
  src/test/resources/metafiles/invalid/missing-required-fields.json
  src/test/resources/metafiles/invalid/missing-top-level-fields.json
  src/test/resources/metafiles/invalid/non-pdf-extension.json
  src/test/resources/metafiles/invalid/use-of-numeric.json
  src/test/resources/metafiles/valid/from-spec.json
Labels: ns:bulk-scan-processor-pr-306

#310 Update sprod tf vars with latest config changes
  infrastructure/sprod.tfvars
Labels: ns:bulk-scan-processor-pr-310

#313 Fix enum used in DB
  src/main/resources/db/migration/V019__Fix_up_document_types.sql
Labels: ns:bulk-scan-processor-pr-313
