Repository hmcts/bulk-scan-processor, pull requests merged in 2018-12, with the labels that each got.

#312 Add a new JSON column for OCR data
  src/main/resources/db/migration/V020__Add_ocrDataJson_column.sql
Labels: ns:bulk-scan-processor-pr-312

#315 Split the models into two sets, separately representing DB and metadata
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItemTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeUpdateServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestWithAcquireLease.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/EnvelopeProcessorValidationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/SendNotificationTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Envelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/NonScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Payment.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ProcessEvent.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Status.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputNonScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputPayment.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/Classification.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/Event.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/EnvelopeMsg.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeUpdateService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/Processor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/SendNotificationTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/EnvelopeProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReadEnvelopesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeUpdateServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidatorTest.java
Labels: ns:bulk-scan-processor-pr-315

#319 Deserialise and process OCR data as a map of strings
  src/functionalTest/resources/1111006.metadata.json
  src/functionalTest/resources/1111006_2.metadata.json
  src/integrationTest/resources/envelope.json
  src/integrationTest/resources/zipcontents/fewer_pdfs_than_declared/metadata.json
  src/integrationTest/resources/zipcontents/invalid_metadata/metadatajson.json
  src/integrationTest/resources/zipcontents/mismatching_pdfs/metadata.json
  src/integrationTest/resources/zipcontents/more_pdfs_than_declared/metadata_4_24-06-2018-00-00-00.json
  src/integrationTest/resources/zipcontents/non_pdf/metadata.json
  src/integrationTest/resources/zipcontents/ok/metadata.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/ScannableItemResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/OcrDataParser.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/OcrDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/OcrDataDeserializerTest.java
  src/test/resources/envelope.json
  src/test/resources/metafiles/valid/no-non-scannables.json
  src/test/resources/signature/sample_valid_content/metadata.json
Labels: ns:bulk-scan-processor-pr-319

#320 Include OCR data in queue messages
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/Document.java
  src/test/resources/metafiles/valid/from-spec.json
Labels: ns:bulk-scan-processor-pr-320

#321 Map document types to the set used in CCD
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/Document.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/DocumentTest.java
Labels: ns:bulk-scan-processor-pr-321

#322 Make the document types in queue messages all lowercase
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/Document.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/DocumentTest.java
Labels: ns:bulk-scan-processor-pr-322

#323 Move OCR data to envelope level in queue message
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/Document.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/EnvelopeMsg.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/DocumentTest.java
Labels: ns:bulk-scan-processor-pr-323

#324 Define envelope processing error model for message queue
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/ErrorCode.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/ErrorMsg.java
Labels: ns:bulk-scan-processor-pr-324

#329 Add SSCS1 to the list of valid document types
  src/main/resources/metafile-schema.json
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidatorTest.java
  src/test/resources/metafiles/valid/from-spec.json
Labels: ns:bulk-scan-processor-pr-329

#330 Rename current notifications
  .gitignore
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
  kubernetes/config.aat.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTaskTest.java
Labels: ns:bulk-scan-processor-pr-330

#325 Build queue client manually
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ServiceBusConfiguration.java
Labels: ns:bulk-scan-processor-pr-325

#333 Add notification queue to AKS setup
  Jenkinsfile_CNP
Labels: ns:bulk-scan-processor-pr-333

#335 Use named beans for queue helper
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTask.java
Labels: ns:bulk-scan-processor-pr-335

#336 Add config for second queue
  infrastructure/main.tf
  kubernetes/deployment.template.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ServiceBusConfiguration.java
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-336

#334 Update public keys
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/test_config.tf
  kubernetes/deployment.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeDeletionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetSasTokenTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/TestHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/UpdateStatusTest.java
  src/functionalTest/resources/application.conf
  src/main/resources/nonprod_public_key.der
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipVerifiersTest.java
  src/test/resources/signature/nonprod_envelope.zip
  src/test/resources/signature/nonprod_envelope_signature
Labels: ns:bulk-scan-processor-pr-334

#340 Added support for null values for non mandatory fields
  src/main/resources/metafile-schema.json
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidatorTest.java
  src/test/resources/metafiles/valid/fields-with-null-values-non-mandatory.json
Labels: ns:bulk-scan-processor-pr-340

#341 Remove setting of TEST_STORAGE_ACCOUNT_KEY twice
  Jenkinsfile_CNP
Labels: ns:bulk-scan-processor-pr-341

#342 Change required datetime format in envelope to ISO-8601
  src/functionalTest/resources/1111006.metadata.json
  src/functionalTest/resources/1111006_2.metadata.json
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/envelope.json
  src/integrationTest/resources/zipcontents/fewer_pdfs_than_declared/metadata.json
  src/integrationTest/resources/zipcontents/invalid_metadata/metadatajson.json
  src/integrationTest/resources/zipcontents/invalid_ocr_data/metadatajson.json
  src/integrationTest/resources/zipcontents/mismatching_pdfs/metadata.json
  src/integrationTest/resources/zipcontents/more_pdfs_than_declared/metadata_4_24-06-2018-00-00-00.json
  src/integrationTest/resources/zipcontents/non_pdf/metadata.json
  src/integrationTest/resources/zipcontents/ok/metadata.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CustomTimestampDeserialiser.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CustomTimestampSerialiser.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/DateFormatter.java
  src/main/resources/metafile-schema.json
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CustomTimestampDeserialiserTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/FailingTimestampDeserialiserTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidatorTestForInvalidFiles.java
  src/test/resources/envelope.json
  src/test/resources/metafiles/invalid/enum-boundaries-for-clasification.json
  src/test/resources/metafiles/invalid/enum-boundaries-for-document-type.json
  src/test/resources/metafiles/invalid/invalid-cheque-payment.json
  src/test/resources/metafiles/invalid/invalid-date-format.json
  src/test/resources/metafiles/invalid/invalid-non-scannable-items.json
  src/test/resources/metafiles/invalid/invalid-postal-order-payment.json
  src/test/resources/metafiles/invalid/invalid-scannable-items.json
  src/test/resources/metafiles/invalid/invalid-zip-file-name-format.json
  src/test/resources/metafiles/invalid/missing-required-fields.json
  src/test/resources/metafiles/invalid/missing-top-level-fields.json
  src/test/resources/metafiles/invalid/no-scannables.json
  src/test/resources/metafiles/invalid/non-pdf-extension.json
  src/test/resources/metafiles/invalid/use-of-numeric.json
  src/test/resources/metafiles/valid/cash-payment-method.json
  src/test/resources/metafiles/valid/cheque-payment-method.json
  src/test/resources/metafiles/valid/fields-with-null-values-non-mandatory.json
  src/test/resources/metafiles/valid/from-spec.json
  src/test/resources/metafiles/valid/multiple-payment-methods.json
  src/test/resources/metafiles/valid/no-case-number.json
  src/test/resources/metafiles/valid/no-non-scannables.json
  src/test/resources/metafiles/valid/no-payment.json
  src/test/resources/metafiles/valid/postal-payment-method.json
  src/test/resources/signature/sample_valid_content/metadata.json
Labels: ns:bulk-scan-processor-pr-342

#339 Notify about invalid signature
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/WhenRunningTheApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
Labels: ns:bulk-scan-processor-pr-339

#347 Make document type mapping case-insensitive
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/Document.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/DocumentTest.java
Labels: ns:bulk-scan-processor-pr-347

#346 Updated schema to allow null for manual intervention
  src/main/resources/metafile-schema.json
  src/test/resources/metafiles/valid/fields-with-null-values-non-mandatory.json
Labels: ns:bulk-scan-processor-pr-346

#349 add jurisdiction field to queue error msg
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/ErrorMsg.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bulk-scan-processor-pr-349

#351 Increase capacity for sprod
  infrastructure/sprod.tfvars
Labels: ns:bulk-scan-processor-pr-351

#337 Feature: error notification client
  build.gradle
  config/owasp/suppressions.xml
  infrastructure/main.tf
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationClientTest.java
  src/integrationTest/resources/application-wiremock.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/Application.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationDecoder.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/client/NotificationClientException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/in/ErrorNotificationFailingResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/in/ErrorNotificationResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/errors/ErrorNotificationRequest.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationDecoderTest.java
Labels: ns:bulk-scan-processor-pr-337

#352 Send error messages for other exceptions
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/errornotifications/ErrorMapping.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bulk-scan-processor-pr-352

#328 Bump shedlock from 2.1.0 to 2.2.0
  build.gradle
Labels: dependencies, ns:bulk-scan-processor-pr-328

#350 Introduce error notification service
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/errors/ErrorNotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationServiceTest.java
Labels: ns:bulk-scan-processor-pr-350

#354 Include event id in the service bus message
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/ErrorMsg.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/Processor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationServiceTest.java
Labels: ns:bulk-scan-processor-pr-354

#356 Handle sending to queue errors
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bulk-scan-processor-pr-356

#358 Store and process lowercase document types
  src/integrationTest/resources/envelope.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
  src/test/resources/envelope.json
Labels: ns:bulk-scan-processor-pr-358

#359 Use `Optional` for error code mapping result
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/errornotifications/ErrorMapping.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bulk-scan-processor-pr-359

#360 Lowercase document type
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/Document.java
  src/main/resources/db/migration/V021__Make_document_type_lowercase.sql
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/DocumentTest.java
Labels: ns:bulk-scan-processor-pr-360

#362 Simplify queue error model.
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/ErrorMsg.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationServiceTest.java
Labels: ns:bulk-scan-processor-pr-362

#363 Extract document subtype from document type
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputDocumentType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/DocumentSubtype.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/ScannableItemResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/Document.java
  src/main/resources/db/migration/V022__Add_subtype_column_to_document.sql
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/DocumentTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/tasks/processor/DocumentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidatorTest.java
Labels: ns:bulk-scan-processor-pr-363

#361 Deserialize ocr data to retain the fields insertion order
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/OcrDataSerializationJourneyTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/EnvelopeMsg.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/OcrDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/OcrDataDeserializerTest.java
  src/test/resources/metafiles/valid/envelope-with-ocr-data.json
Labels: ns:bulk-scan-processor-pr-361

#365 Added Enumerated annotation for document type and subtype
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
Labels: ns:bulk-scan-processor-pr-365

#367 Change document types and subtypes to uppercase in DB
  src/main/resources/db/migration/V023__Update_document_types_to_uppercase.sql
Labels: ns:bulk-scan-processor-pr-367

#369 Refactor scannable item response
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/ScannableItemResponse.java
Labels: ns:bulk-scan-processor-pr-369

#374 Fix failing integration tests depending on run order
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestWithAcquireLease.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DelayedFileProcessingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
Labels: ns:bulk-scan-processor-pr-374

#375 Run only one instance of queue sending job at a time
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/WhenRunningTheApplicationTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTask.java
Labels: ns:bulk-scan-processor-pr-375

#376 Feature: message handler to consume error notifications
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/ErrorMsg.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandlerTest.java
Labels: ns:bulk-scan-processor-pr-376

#355 Feature: error notification repository
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ErrorNotificationRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ErrorNotification.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ErrorNotificationRepository.java
  src/main/resources/db/migration/V024__Error_notifications.sql
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationServiceTest.java
Labels: ns:bulk-scan-processor-pr-355

#366 Save error notification in db
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ErrorNotification.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandlerTest.java
Labels: ns:bulk-scan-processor-pr-366

#379 Remove a failure-related event from a non-failure case
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/Processor.java
Labels: ns:bulk-scan-processor-pr-379

#378 Replace generic error logs with more specific ones
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/Processor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
Labels: ns:bulk-scan-processor-pr-378

#380 Log exceptions uncaught by scheduled jobs
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ShedLockConfiguration.java
Labels: ns:bulk-scan-processor-pr-380

#381 Small changes to the processing of failed documents
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReuploadFailedEnvelopeTask.java
Labels: ns:bulk-scan-processor-pr-381

#382 Improve the logging around processing of failed envelopes
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReuploadFailedEnvelopeTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReuploadFailedEnvelopeTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
Labels: ns:bulk-scan-processor-pr-382
