Repository hmcts/bulk-scan-processor, pull requests merged in 2019-04, with the labels that each got.

#602 BPS-593 Added container to Service bus envelope model
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/EnvelopeMsg.java
Labels: ns:bulk-scan-processor-pr-602

#601 Update recipients for report sender
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSenderDisabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSenderTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSenderTest.java
Labels: ns:bulk-scan-processor-pr-601

#603 Revert changes to `ReportSender` in #601
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSender.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSenderTest.java
Labels: ns:bulk-scan-processor-pr-603

#607 Make doc subtype a free string
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/DocumentSubtype.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/ScannableItemResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/Document.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/SubtypeTest.java
Labels: ns:bulk-scan-processor-pr-607

#608 Bugfix: mimemessage requires `from` value
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSender.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSenderTest.java
Labels: ns:bulk-scan-processor-pr-608

#618 BPS-617 Add config for financial remedy
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetSasTokenTest.java
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-618

#621 Retrieve shared infrastructure secrets through Key Vault
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/state.tf
Labels: ns:bulk-scan-processor-pr-621

#620 Run report schedule only on workday
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-620

#624 Use latest (9.0.19) of embed tomcat
  build.gradle
Labels: ns:bulk-scan-processor-pr-624

#623 Use profiles so integration testing can be done smoother
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/config/IntegrationContextInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/config/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/SasTokenControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/AzuriteTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/SchedulerConfigTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeRetrieverTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSenderDisabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSenderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestWithAcquireLease.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DelayedFileProcessingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandlerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReuploadFailedEnvelopeTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/Profiles.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/info/BlobContainerInfoContributor.java
Labels: ns:bulk-scan-processor-pr-623

#627 Update FR PoBox
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-627

#629 Add config for cmc container
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-629

#628 New task for incomplete envelopes monitoring
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/IncompleteEnvelopesDisabledTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/IncompleteEnvelopesTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/IncompleteEnvelopesTaskTest.java
Labels: ns:bulk-scan-processor-pr-628

#631 Include repository in task construct
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/IncompleteEnvelopesTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/IncompleteEnvelopesTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/IncompleteEnvelopesTaskTest.java
Labels: ns:bulk-scan-processor-pr-631

#616 Remove health indicator for mail
  src/integrationTest/resources/application.properties
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-616

#632 Enable incomplete envelopes task for production
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-632

#633 Configure po box for cmc
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-633

#636 Log ID of existing envelope
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bulk-scan-processor-pr-636

#637 Update incomplete envelopes task config
  infrastructure/aat.tfvars
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/IncompleteEnvelopesDisabledTaskTest.java
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-637

#641 Update service-bus 1.2.8 -> 1.2.13
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessedEnvelopeNotificationHandler.java
Labels: ns:bulk-scan-processor-pr-641

#639 Update test dependencies for api gateway
  build.gradle
Labels: ns:bulk-scan-processor-pr-639

#638 Update gradle 5.2.1 -> 5.4.1
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:bulk-scan-processor-pr-638

#642 Use `preview` environment which is defined in jenkins library
  Jenkinsfile_CNP
Labels: ns:bulk-scan-processor-pr-642

#640 Update shedlock 2.2.1 -> 2.4.0
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/Application.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ShedLockConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/IncompleteEnvelopesTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/TimeZones.java
Labels: ns:bulk-scan-processor-pr-640
