Repository hmcts/bulk-scan-processor, pull requests merged in 2019-10, with the labels that each got.

#873 Update flyway strategy
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
Labels: ns:bulk-scan-processor-pr-873

#874 Update database user env vars
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
Labels: ns:bulk-scan-processor-pr-874

#881 Add missing config and use latest java chart
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/requirements.yaml
  charts/bulk-scan-processor/values.yaml
Labels: ns:bulk-scan-processor-pr-881

#883 Set blob storage credentials
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-processor-pr-883

#885 Fix tests on master
  Jenkinsfile_CNP
Labels: ns:bulk-scan-processor-pr-885

#887 Read the correct string to be set as write processed queue env
  Jenkinsfile_CNP
Labels: ns:bulk-scan-processor-pr-887

#894 Add suppression for vulnerabilites
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-processor-pr-894

#891 moving to latest charts to fix product charts
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/requirements.yaml
Labels: ns:bulk-scan-processor-pr-891

#897 Added app insights secret loading from vault config
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-processor-pr-897

#904 Fix staging logging issue
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/requirements.yaml
  charts/bulk-scan-processor/values.aat.template.yaml
Labels: ns:bulk-scan-processor-pr-904

#903 Remove unnecessary env var as SMTP_HOST is used
  charts/bulk-scan-processor/values.yaml
Labels: ns:bulk-scan-processor-pr-903

#908 Owasp suppression
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-processor-pr-908

#907 Stop logging OCR-specific validation errors
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
Labels: ns:bulk-scan-processor-pr-907

#909 use new base 1.4 java image to use default encoding utf-8
  Dockerfile
Labels: ns:bulk-scan-processor-pr-909

#912 Added jackson databind suppression
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-processor-pr-912

#913 bumping charts to make product chart work
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/requirements.yaml
Labels: ns:bulk-scan-processor-pr-913

#914 Upgrading service bus chart
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/requirements.yaml
Labels: ns:bulk-scan-processor-pr-914

#917 Added new mandatory field in preparation for helm 3
  charts/bulk-scan-processor/Chart.yaml
Labels: ns:bulk-scan-processor-pr-917

#919 Add dependabot config
  .dependabot/config.yml
Labels: ns:bulk-scan-processor-pr-919

#922 Set smtp creds for aks
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-processor-pr-922
