Repository hmcts/bulk-scan-processor, pull requests merged in 2019-02, with the labels that each got.

#464 Log response from error response received via Feign Client
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptionhandlers/ErrorNotificationExceptionHandler.java
Labels: ns:bulk-scan-processor-pr-464

#469 Remove unused repository methods
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItemRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItemRepository.java
Labels: ns:bulk-scan-processor-pr-469

#476 Update base docker image
  Dockerfile
Labels: ns:bulk-scan-processor-pr-476

#477 Updated cluster plan to use updated one
  kubernetes/deployment.template.yaml
Labels: ns:bulk-scan-processor-pr-477

#472 Use safer assertJ's `extracting`
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/WhenRunningTheApplicationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestWithAcquireLease.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidatorTest.java
Labels: ns:bulk-scan-processor-pr-472

#471 Create a service for finalising processed envelopes
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserServiceTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Status.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/EnvelopeNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/Event.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
Labels: ns:bulk-scan-processor-pr-471

#466 BPS-416 Use Instant class to represent date fields
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Envelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ErrorNotification.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ProcessEvent.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidDateFormatException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidTimestampFormatException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/EnvelopeResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/ScannableItemResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/Document.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/EnvelopeMsg.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/zipfilestatus/ZipFileEvent.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CustomTimestampDeserialiser.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CustomTimestampSerialiser.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/DateFormatter.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/InstantDeserializer.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/InstantSerializer.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ZipStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/DocumentTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/tasks/processor/DocumentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/FailingTimestampDeserialiserTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/InstantDeserializerTest.java
Labels: ns:bulk-scan-processor-pr-466

#478 Create a class for handling 'processed-envelopes' queue messages
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/in/msg/ProcessedEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessedEnvelopeNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessedEnvelopeNotificationHandlerTest.java
Labels: ns:bulk-scan-processor-pr-478

#480 BPS-416 Cleanup timestamp method names and class names
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/FailingInstantDeserialiserTest.java
Labels: ns:bulk-scan-processor-pr-480

#481 Updated saat tfvars
  infrastructure/saat.tfvars
Labels: ns:bulk-scan-processor-pr-481

#482 Move jurisdictions config for reports
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/JurisdictionsConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ZeroRowFiller.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ZeroRowFillerTest.java
Labels: ns:bulk-scan-processor-pr-482

#485 Added Controller for zip files status report endpoint
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/ZipFilesSummaryReportItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/ZipFilesSummaryReportListResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ZipFileSummary.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
Labels: ns:bulk-scan-processor-pr-485

#486 Handle empty zip file names
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bulk-scan-processor-pr-486

#484 Use jdk-8 191 alpine 3.9 image.
  Dockerfile
Labels: ns:bulk-scan-processor-pr-484

#479 Refactor Service Bus-specific Spring configuration
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/WhenRunningTheApplicationTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/MessageHandlerConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ServiceBusHelpersConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTask.java
  src/smokeTest/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-479

#488 Extract base functional test class
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeDeletionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/UpdateStatusTest.java
Labels: ns:bulk-scan-processor-pr-488

#490 Fix time format in ZipFilesSummary class to fix the failing tests
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/ZipFilesSummaryReportItem.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
Labels: ns:bulk-scan-processor-pr-490

#493 Clean up scheduler config test
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/SchedulerConfigTest.java
Labels: ns:bulk-scan-processor-pr-493

#494 Add an event to process logs when zipfile is picked up by processor
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestWithAcquireLease.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/Event.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bulk-scan-processor-pr-494

#500 Create snapshots of rejected files
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeDeletionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/TestHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
Labels: ns:bulk-scan-processor-pr-500

#506 Create 'processed-envelopes' queue in AKS
  Jenkinsfile_CNP
Labels: ns:bulk-scan-processor-pr-506

#507 Add AKS configuration related with processed envelopes queue
  Jenkinsfile_CNP
  kubernetes/deployment.template.yaml
Labels: ns:bulk-scan-processor-pr-507

#511 Change scan delay in prod to 5 minutes
  infrastructure/prod.tfvars
Labels: ns:bulk-scan-processor-pr-511

#512 Fix report tests
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
Labels: ns:bulk-scan-processor-pr-512

#513 clean up functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/TestHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/UpdateStatusTest.java
Labels: ns:bulk-scan-processor-pr-513

#518 Add config for probot-stale
  .github/stale.yml
Labels: ns:bulk-scan-processor-pr-518

#509 Feature/bps 514 zipfiles summary repository
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ZipFilesSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ZipFileSummaryItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ZipFilesSummaryRepository.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/reports/zipfilesummary/Item.java
Labels: ns:bulk-scan-processor-pr-509

#519 Check if invalid file gets removed in tests
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
Labels: ns:bulk-scan-processor-pr-519

#521 Add a missing integration test for EnvelopeFinaliserService
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserServiceTest.java
Labels: ns:bulk-scan-processor-pr-521

#515 Handle invalid zip files
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidZipArchiveException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipVerifiers.java
Labels: ns:bulk-scan-processor-pr-515

#508 Provide configuration for the handler of processed-envelopes queue messages
  infrastructure/main.tf
  infrastructure/output.tf
  kubernetes/deployment.template.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/functionalTest/resources/1111007.metadata-with-ocr-data.json
  src/functionalTest/resources/application.conf
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/FailedToRegisterMessageHandlersExcepiton.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/MessageHandlerConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ServiceBusHelpersConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessedEnvelopeNotificationHandler.java
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-508

#526 Exclude config classes from line coverage in Sonar
  build.gradle
Labels: ns:bulk-scan-processor-pr-526

#527 Renamed data layer model classes
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ZipFilesSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ZipFileSummary.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ZipFilesSummaryRepository.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/reports/zipfilesummary/ZipFileSummaryItem.java
Labels: ns:bulk-scan-processor-pr-527

#528 Fix functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserService.java
Labels: ns:bulk-scan-processor-pr-528

#520 Fix the order of parameters in a method creating a log entry
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bulk-scan-processor-pr-520

#529 BPS-514 Service layer changes
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ZipFileSummaryResponse.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
Labels: ns:bulk-scan-processor-pr-529

#524 Add a migration script that finalises old processed envelopes
  src/main/resources/db/migration/V036__Finalise_old_envelopes.sql
Labels: ns:bulk-scan-processor-pr-524

#531 Fix a functional test for BlobProcessorTask
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
Labels: ns:bulk-scan-processor-pr-531

#530 Fix PMD issues
  config/pmd/ruleset.xml
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/AuthServiceConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/MessageHandlerConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Envelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/ocr/OcrDataField.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/output/Pdf.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
Labels: ns:bulk-scan-processor-pr-530

#532 Create 'ZIPFILE_PROCESSING_STARTED' event for old files.
  src/main/resources/db/migration/V037__Ensure_initial_event_exists.sql
Labels: ns:bulk-scan-processor-pr-532

#525 Return the zip files summary in csv file
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriter.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriterTest.java
Labels: ns:bulk-scan-processor-pr-525

#535 BPS 514 Updated the zip files summary report csv columns order
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriter.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriterTest.java
Labels: ns:bulk-scan-processor-pr-535

#537 Remove the second check of envelope's status in functional test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
Labels: ns:bulk-scan-processor-pr-537
