Repository hmcts/bulk-scan-processor, pull requests merged in 2019-11, with the labels that each got.

#931 Extended suppression until by a month for spring dependencies
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-processor-pr-931

#929 Update secret name
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-processor-pr-929

#932 Set env vars for notifications
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-932

#935 Add missing config for ocr validation [PROBATE]
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
Labels: ns:bulk-scan-processor-pr-935

#936 Update aat and demo allowed fingerprints
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
Labels: ns:bulk-scan-processor-pr-936

#934 Removed default value for blob_selected_container
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.aat.template.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  charts/bulk-scan-processor/values.yaml
  src/integrationTest/resources/application.properties
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-934

#939 Bump servicebus 1.2.14 -> 1.2.18
  build.gradle
Labels: ns:bulk-scan-processor-pr-939

#940 use latest java chart
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/requirements.yaml
Labels: ns:bulk-scan-processor-pr-940

#889 Update junit framework - unit test suite
  build.gradle
  config/owasp/suppressions.xml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationDecoderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReadEnvelopesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReadSingleEnvelopeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ZipStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptionhandlers/ErrorNotificationExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/jupiter/GreenMailExtension.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeResponseMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/SubtypeTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/DocumentTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/AuthServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeAccessServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeRetrieverServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeStatusChangeValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/SasTokenGeneratorServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSenderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedEnvelopesReportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ZeroRowFillerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/MessageAutoCompletorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/tasks/processor/DocumentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/HeartbeatTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessedEnvelopeNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/IncompleteEnvelopesTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipVerifiersTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriterTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/FailingInstantDeserialiserTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/FlywayNoOpStrategyTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/InstantDeserializerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/OcrDataDeserializerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeProcessorValidationTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidatorTestForInvalidFiles.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrPresenceValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/envelope/DocumentTypesValidationTest.java
Labels: ns:bulk-scan-processor-pr-889

#943 Log storage account URI
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/SasTokenGeneratorService.java
Labels: ns:bulk-scan-processor-pr-943

#941 Bump org.springframework.boot from 2.1.9.RELEASE to 2.2.0.RELEASE
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/Application.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/MessageHandlerConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ServiceBusConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ServiceBusHelpersConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessedEnvelopeNotificationHandler.java
  src/smokeTest/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReadEnvelopesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
Labels: ns:bulk-scan-processor-pr-941

#951 Add validations for the new classification - supplementary_evidence_with_ocr
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/Classification.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeProcessorValidationTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidatorTestForInvalidFiles.java
  src/test/resources/metafiles/invalid/invalid-classification.json
Labels: ns:bulk-scan-processor-pr-951

#947 Clarify logs related to error notifications
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationServiceTest.java
Labels: ns:bulk-scan-processor-pr-947

#953 Add new classification supplementary evidence with ocr
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/resources/zipcontents/missing_document/1111001.pdf
  src/integrationTest/resources/zipcontents/missing_document/metadata.json
  src/integrationTest/resources/zipcontents/supplementary_evidence_with_ocr/1111002.pdf
  src/integrationTest/resources/zipcontents/supplementary_evidence_with_ocr/metadata.json
  src/integrationTest/resources/zipcontents/supplementary_evidence_with_ocr_missing_ocr_data/1111001.pdf
  src/integrationTest/resources/zipcontents/supplementary_evidence_with_ocr_missing_ocr_data/metadata.json
  src/main/resources/metafile-schema.json
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidatorTestForInvalidFiles.java
  src/test/resources/metafiles/valid/with-supplementary-evidence-with-ocr.json
Labels: ns:bulk-scan-processor-pr-953

#954 Add functional test for supplementary evidence with ocr classification
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
  src/functionalTest/resources/1111006_3.metadata.json
Labels: ns:bulk-scan-processor-pr-954

#956 Use nicer assertions in test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
Labels: ns:bulk-scan-processor-pr-956

#958 Rename metadata file names used in the functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeDeletionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetSasTokenTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/functionalTest/resources/exception_metadata.json
  src/functionalTest/resources/exception_with_ocr_metadata.json
  src/functionalTest/resources/supplementary_evidence_with_ocr_metadata.json
Labels: ns:bulk-scan-processor-pr-958

#957 Added new event type
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/Event.java
Labels: ns:bulk-scan-processor-pr-957

#966 Update charts for helm upgrade
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/requirements.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  charts/bulk-scan-processor/values.yaml
Labels: ns:bulk-scan-processor-pr-966

#967 Fixed alignment of conditions in values yaml
  charts/bulk-scan-processor/values.yaml
Labels: ns:bulk-scan-processor-pr-967
