Repository hmcts/bulk-scan-processor, pull requests merged in 2019-12, with the labels that each got.

#974 comment about liveness alert dependency on application name
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-974

#975 Bump shedlock 3.0.1 -> 4.0.0
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSender.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/HeartbeatTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReuploadFailedEnvelopeTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/IncompleteEnvelopesTask.java
Labels: dependencies, ns:bulk-scan-processor-pr-975

#977 Suppress jetty dependencies
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-processor-pr-977

#978 Allow payments for all classifications
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/resources/zipcontents/supplementary_evidence_with_ocr_with_payments/1111002.pdf
  src/integrationTest/resources/zipcontents/supplementary_evidence_with_ocr_with_payments/metadata.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidJourneyClassificationException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/errornotifications/ErrorMapping.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeProcessorValidationTest.java
Labels: ns:bulk-scan-processor-pr-978

#986 Allow encoded OCR data to contain any character from Base64 set
  src/main/resources/metafile-schema.json
Labels: ns:bulk-scan-processor-pr-986

#989 Add OCR validation url and enable payments for divorce on aat
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-989
