Repository hmcts/bulk-scan-processor, pull requests merged in 2019-05, with the labels that each got.

#644 Clean up FailedDocUploadProcessor
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
Labels: ns:bulk-scan-processor-pr-644

#645 Clean up jurisdiction configuration
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/JurisdictionsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReuploadFailedEnvelopeTask.java
Labels: ns:bulk-scan-processor-pr-645

#646 Clean up yaml config for services accessing envelopes
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-646

#650 Extend lock duration for incomplete envelopes job
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/IncompleteEnvelopesTask.java
Labels: ns:bulk-scan-processor-pr-650

#651 Fix the check for processed envelope
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Status.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/StatusTest.java
Labels: ns:bulk-scan-processor-pr-651

#652 Clean up checking whether file can be deleted
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Status.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/StatusTest.java
Labels: ns:bulk-scan-processor-pr-652

#653 Remove unused model
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/in/StatusUpdate.java
Labels: ns:bulk-scan-processor-pr-653

#656 Read and store 'previous_service_case_reference' field from envelope metadata
  src/integrationTest/resources/zipcontents/ok/metadata.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Envelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapper.java
  src/main/resources/db/migration/V039__Add_previous_service_case_reference.sql
  src/main/resources/metafile-schema.json
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/InputEnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidatorTest.java
  src/test/resources/metafiles/valid/fields-with-null-values-non-mandatory.json
  src/test/resources/metafiles/valid/from-spec.json
  src/test/resources/metafiles/valid/no-previous-service-case-reference.json
Labels: ns:bulk-scan-processor-pr-656

#658 Include previous (legacy) service case reference in queue message
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/EnvelopeMsg.java
Labels: ns:bulk-scan-processor-pr-658

#659 Clean up reports package structure
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSender.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/EnvelopeCountSummary.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/ZipFileSummaryResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/utils/ZeroRowFiller.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriter.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ZeroRowFillerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriterTest.java
Labels: ns:bulk-scan-processor-pr-659

#660 Add service for listing reject files
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedEnvelopesReportServiceTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedEnvelopesReportService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/RejectedEnvelope.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedEnvelopesReportServiceTest.java
Labels: ns:bulk-scan-processor-pr-660

#661 BPS-641 Migration script to add documentUuid column
  src/main/resources/db/migration/V040__Add_document_uuid_to_scannable_items.sql
Labels: ns:bulk-scan-processor-pr-661

#663 Add endpoint to retrieve rejected envelopes
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/RejectedEnvelopesResponse.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
Labels: ns:bulk-scan-processor-pr-663

#666 Add 'reason' field to envelope events model in reports
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/zipfilestatus/ZipFileEvent.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ZipStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
Labels: ns:bulk-scan-processor-pr-666

#665 Extract helper for mocking blob list items
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/blobstorage/MockBlob.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTaskTest.java
Labels: ns:bulk-scan-processor-pr-665

#662 BPS-641 Add documentUuid column to scannableItem model
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/DocumentProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/tasks/processor/DocumentProcessorTest.java
Labels: ns:bulk-scan-processor-pr-662

#668 Remove unused check on who can update envelope
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeAccessService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeAccessServiceTest.java
Labels: ns:bulk-scan-processor-pr-668

#669 Remove unused config for updating envelopes
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/EnvelopeAccessProperties.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeAccessServiceTest.java
Labels: ns:bulk-scan-processor-pr-669

#671 DB migration script to populate documentUuid values
  src/main/resources/db/migration/V041__Update_document_uuid_values.sql
Labels: ns:bulk-scan-processor-pr-671

#670 Added documentUuid to service bus model and rest end point response model
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/ScannableItemResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/Document.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
Labels: ns:bulk-scan-processor-pr-670

#672 Suppress javax.activation
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-processor-pr-672

#674 Bump jackson-databind 2.9.8 -> 2.9.9
  build.gradle
Labels: ns:bulk-scan-processor-pr-674

#676 BPS-641 Remove document url usages in processor
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItemTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/integrationTest/resources/envelope.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/ScannableItemResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/Document.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/DocumentProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/DocumentTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/tasks/processor/DocumentProcessorTest.java
  src/test/resources/envelope.json
Labels: ns:bulk-scan-processor-pr-676

#677 Drop documentUrl column from scannable items table
  src/main/resources/db/migration/V042__Drop_document_url_column.sql
Labels: ns:bulk-scan-processor-pr-677

#679 Move ocr data to blob package
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/OcrDataSerializationJourneyTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputOcrData.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputOcrDataField.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/ScannableItemResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/EnvelopeMsg.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/OcrDataDeserializer.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/InputEnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/DocumentTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/OcrDataDeserializerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeProcessorValidationTest.java
Labels: ns:bulk-scan-processor-pr-679

#680 Use separate models for DB dor ocr data
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/OcrDataSerializationJourneyTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputOcrData.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputOcrDataField.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/OcrData.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/OcrDataField.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/ScannableItemResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/EnvelopeMsg.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/DocumentTest.java
Labels: ns:bulk-scan-processor-pr-680
