Repository hmcts/bulk-scan-processor, pull requests merged in 2019-09, with the labels that each got.

#797 Bump `checkstyle` to 8.24
  build.gradle
  config/checkstyle/checkstyle.xml
Labels: ns:bulk-scan-processor-pr-797

#784 Send heartbeat messages to orchestrator
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/HeartbeatMsg.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/MsgLabel.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/HeartbeatTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/HeartbeatTaskTest.java
Labels: ns:bulk-scan-processor-pr-784

#798 Remove `microserviceName` from terraform output file
  infrastructure/output.tf
Labels: ns:bulk-scan-processor-pr-798

#800 Add ocr validation url to probate demo
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-800

#803 Copy same config from `Jenkinsfile_CNP`
  Jenkinsfile_parameterized
Labels: ns:bulk-scan-processor-pr-803

#806 Suppress a dependency warning for commons-compress
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-processor-pr-806

#805 Change the name of OCR data validation warnings element in queue message
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/EnvelopeMsg.java
Labels: ns:bulk-scan-processor-pr-805

#802 Add document subtype to the queue message
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/EnvelopeMsg.java
Labels: ns:bulk-scan-processor-pr-802

#814 Make the processor talk to sample app form the same env
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:bulk-scan-processor-pr-814

#815 Delay file cleanup
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bulk-scan-processor-pr-815

#819 Store only dcn of payments in db
  src/integrationTest/resources/envelope.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Payment.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/PaymentResponse.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
  src/test/resources/envelope.json
Labels: ns:bulk-scan-processor-pr-819

#820 Remove ocr_validation_warnings field from queue message
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/EnvelopeMsg.java
Labels: ns:bulk-scan-processor-pr-820

#822 Drop old payments columns
  src/main/resources/db/migration/V045__Drop_payment_columns.sql
Labels: ns:bulk-scan-processor-pr-822

#829 Minimal refactoring of tests for ServiceBusHelper
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
Labels: ns:bulk-scan-processor-pr-829

#830 Add payment information to queue message
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/EnvelopeMsg.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/Payment.java
Labels: ns:bulk-scan-processor-pr-830

#831 Bumping chart versions
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/requirements.yaml
Labels: ns:bulk-scan-processor-pr-831

#832 Bumping charts
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/requirements.yaml
Labels: ns:bulk-scan-processor-pr-832

#841 Remove health check as there is no shell in container
  Dockerfile
Labels: ns:bulk-scan-processor-pr-841

#842 Bump shedlock 2.5.0 -> 2.6.0
  build.gradle
Labels: ns:bulk-scan-processor-pr-842

#846 Bps 798 read blob from configured container config changes
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.aat.template.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-846

#848 Feature/clean up warnings from db
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserServiceTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserService.java
Labels: ns:bulk-scan-processor-pr-848

#845 Add config for payments feature toggle
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.aat.template.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-845

#843 Bump shedlock 2.6.0 -> 3.0.0
  build.gradle
Labels: ns:bulk-scan-processor-pr-843

#850 Update payment validation to use payments feature toggle config
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledPayments.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/zipcontents/disabled_payments/1111002.pdf
  src/integrationTest/resources/zipcontents/disabled_payments/metadata.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ContainerMappings.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/PaymentsDisabledException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/ErrorCode.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/errornotifications/ErrorMapping.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ZeroRowFillerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeProcessorValidationTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
Labels: ns:bulk-scan-processor-pr-850

#858 Bump jackson-databind 2.9.9.3 -> 2.9.10
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-processor-pr-858

#859 Bump postgresql from 42.2.7 to 42.2.8
  build.gradle
Labels: ns:bulk-scan-processor-pr-859

#849 Bps 798 read blob from configured container
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/BlobManagementProperties.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bulk-scan-processor-pr-849

#853 Integration test for duplicated dcns
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/resources/zipcontents/duplicate_payment_dcns/1111002.pdf
  src/integrationTest/resources/zipcontents/duplicate_payment_dcns/metadata.json
Labels: ns:bulk-scan-processor-pr-853

#861 AKS cleanup - Prepare to migrate APP to AKS on AAT
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.aat.template.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  charts/bulk-scan-processor/values.yaml
  infrastructure/main.tf
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-processor-pr-861

#864 Disable blob storage and service bus usage of osba by default
  charts/bulk-scan-processor/values.yaml
Labels: ns:bulk-scan-processor-pr-864
