Repository hmcts/bulk-scan-processor, pull requests merged in 2019-01, with the labels that each got.

#384 Small improvements related with using ExecutorService
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReuploadFailedEnvelopeTask.java
Labels: ns:bulk-scan-processor-pr-384

#385 Add some logging related with sending notifications
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTask.java
Labels: ns:bulk-scan-processor-pr-385

#390 Updated sprod tfvars to match aat config
  infrastructure/sprod.tfvars
Labels: ns:bulk-scan-processor-pr-390

#389 BPS-401 Added proxy properties to enable proxy for azure client in demo
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/StorageConfiguration.java
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-389

#391 Update customer decoder of error notification response with exception
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationDecoder.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationException.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationDecoderTest.java
Labels: ns:bulk-scan-processor-pr-391

#392 Add access token properties for probate service
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetSasTokenTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/SasTokenControllerTest.java
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-392

#395 Simplify signed zip content verification
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipVerifiers.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipVerifiersTest.java
Labels: ns:bulk-scan-processor-pr-395

#398 Handle 'will' document type
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputDocumentType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/DocumentSubtype.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
Labels: ns:bulk-scan-processor-pr-398

#400 Update demo.tfvars
  infrastructure/demo.tfvars
Labels: ns:bulk-scan-processor-pr-400

#401 Add document subtype to queue message
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/DocumentSubtype.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/Document.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/DocumentTest.java
Labels: ns:bulk-scan-processor-pr-401

#402 added DocumentType as Will for Probate
  src/main/resources/metafile-schema.json
Labels: ns:bulk-scan-processor-pr-402

#403 Test all cases for document subtypes
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/SubtypeTest.java
Labels: ns:bulk-scan-processor-pr-403

#405 Added suppression for wiremock-standlone jar
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-processor-pr-405

#399 Added ocr data validation for new application
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/EnvelopeProcessorValidationTest.java
  src/integrationTest/resources/zipcontents/missing_ocr_data/1111001.pdf
  src/integrationTest/resources/zipcontents/missing_ocr_data/metadatajson.json
  src/integrationTest/resources/zipcontents/missing_ocr_data_valid/1111001.pdf
  src/integrationTest/resources/zipcontents/missing_ocr_data_valid/metadatajson.json
  src/integrationTest/resources/zipcontents/ocr_data_not_required/1111001.pdf
  src/integrationTest/resources/zipcontents/ocr_data_not_required/metadatajson.json
  src/integrationTest/resources/zipcontents/ok/metadata.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/OcrDataNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/errornotifications/ErrorMapping.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/EnvelopeProcessor.java
Labels: ns:bulk-scan-processor-pr-399

#406 Added test for error notification when ocr data is missing
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
Labels: ns:bulk-scan-processor-pr-406

#408 Move envelope validation to separate class
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/EnvelopeProcessorValidationTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/EnvelopeProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
Labels: ns:bulk-scan-processor-pr-408

#410 Updated prod public key with 2048 bit length
  src/main/resources/trusted_public_key.der
Labels: ns:bulk-scan-processor-pr-410

#409 Updated public cert thumbprint for api management
  infrastructure/prod.tfvars
Labels: ns:bulk-scan-processor-pr-409

#413 Update owasp suppressions
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-processor-pr-413

#407 Feature: message handler custom completor
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptionhandlers/ErrorNotificationExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/ErrorNotificationMessageWrapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/MessageAutoCompletor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptionhandlers/ErrorNotificationExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/MessageAutoCompletorTest.java
Labels: ns:bulk-scan-processor-pr-407

#412 Update OCR presence validation
  src/functionalTest/resources/1111006.metadata.json
  src/functionalTest/resources/1111006_2.metadata.json
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/EnvelopeProcessorValidationTest.java
  src/integrationTest/resources/zipcontents/missing_ocr_data_valid/1111001.pdf
  src/integrationTest/resources/zipcontents/missing_ocr_data_valid/metadatajson.json
  src/integrationTest/resources/zipcontents/ocr_data_not_required/1111001.pdf
  src/integrationTest/resources/zipcontents/ocr_data_not_required/metadatajson.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/InputEnvelopeCreator.java
Labels: ns:bulk-scan-processor-pr-412

#414 Include exception handler in error notifications processor
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandlerTest.java
Labels: ns:bulk-scan-processor-pr-414

#411 Validate envelope against container
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeUpdateServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/EnvelopeProcessorValidationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReuploadFailedEnvelopeTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/envelope.json
  src/integrationTest/resources/zipcontents/fewer_pdfs_than_declared/metadata.json
  src/integrationTest/resources/zipcontents/invalid_metadata/metadatajson.json
  src/integrationTest/resources/zipcontents/invalid_ocr_data/metadatajson.json
  src/integrationTest/resources/zipcontents/mismatching_pdfs/metadata.json
  src/integrationTest/resources/zipcontents/missing_ocr_data/metadatajson.json
  src/integrationTest/resources/zipcontents/more_pdfs_than_declared/metadata_4_24-06-2018-00-00-00.json
  src/integrationTest/resources/zipcontents/ok/metadata.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/ContainerJurisdictionMismatchException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/errornotifications/ErrorMapping.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReadEnvelopesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/InputEnvelopeCreator.java
  src/test/resources/envelope.json
Labels: ns:bulk-scan-processor-pr-411

#417 Simplify envelope validation tests
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/EnvelopeProcessorValidationTest.java
  src/integrationTest/resources/zipcontents/fewer_pdfs_than_declared/1111002.pdf
  src/integrationTest/resources/zipcontents/fewer_pdfs_than_declared/metadata.json
  src/integrationTest/resources/zipcontents/more_pdfs_than_declared/1111001.pdf
  src/integrationTest/resources/zipcontents/more_pdfs_than_declared/1111002.pdf
  src/integrationTest/resources/zipcontents/more_pdfs_than_declared/metadata_4_24-06-2018-00-00-00.json
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/InputEnvelopeCreator.java
Labels: ns:bulk-scan-processor-pr-417

#419 Move test from integration tests to unit tests
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeProcessorValidationTest.java
Labels: ns:bulk-scan-processor-pr-419

#420 Add reports controller
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/EnvelopeCountSummaryReportResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/EnvelopeCountSummary.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
Labels: ns:bulk-scan-processor-pr-420

#422 Add repository layer for envelope count summary report
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/EnvelopeCountSummaryItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/EnvelopeCountSummaryRepository.java
Labels: ns:bulk-scan-processor-pr-422

#423 Enable envelope count summary report
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/reports/countsummary/Item.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
Labels: ns:bulk-scan-processor-pr-423

#415 Enable notification consumption feature
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ServiceBusConfiguration.java
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-415

#424 Allow filtering out test jurisdiction from envelope count report
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
Labels: ns:bulk-scan-processor-pr-424

#426 Add helper to add 'zero' rows to report
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/JurisdictionsConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ZeroRowFiller.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ZeroRowFillerTest.java
Labels: ns:bulk-scan-processor-pr-426

#427 Add zero rows to report when needed
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
Labels: ns:bulk-scan-processor-pr-427

#428 Update prod.tfvars
  infrastructure/prod.tfvars
Labels: ns:bulk-scan-processor-pr-428

#432 Hotfix access level for entity constructor
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ProcessEvent.java
Labels: ns:bulk-scan-processor-pr-432

#434 Fix column length for error code
  src/main/resources/db/migration/V034__Increase_column_length.sql
Labels: ns:bulk-scan-processor-pr-434

#430 Add message ID to error notification log
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bulk-scan-processor-pr-430

#437 Base envelope count report on events
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ProcessEvent.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/EnvelopeCountSummaryRepository.java
Labels: ns:bulk-scan-processor-pr-437

#439 Update log message to include more information
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/Processor.java
Labels: ns:bulk-scan-processor-pr-439

#429 Added db migration script to update ocrData column type to JSON
  src/main/resources/db/migration/V025__Update_ocrData_column.sql
Labels: do not merge, ns:bulk-scan-processor-pr-429

#441 Adjust job delays on prod
  infrastructure/prod.tfvars
Labels: ns:bulk-scan-processor-pr-441

#440 Add support for coversheet
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputDocumentType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/DocumentSubtype.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapper.java
  src/main/resources/metafile-schema.json
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/SubtypeTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidatorTest.java
  src/test/resources/metafiles/valid/from-spec.json
Labels: ns:bulk-scan-processor-pr-440

#443 Change migration script number to make it the last one
  src/main/resources/db/migration/V035__Update_ocrData_column.sql
Labels: ns:bulk-scan-processor-pr-443

#444 Map container to jurisdiction in report
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/EnvelopeCountSummaryItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/EnvelopeCountSummaryRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/reports/countsummary/Item.java
Labels: ns:bulk-scan-processor-pr-444

#446 Add SAS token configuration for 'divorce' container
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/SasTokenControllerTest.java
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-446

#433 BPS-447 Keep ocr data in the same format as we receive in the message
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/OcrDataSerializationJourneyTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/integrationTest/resources/envelope.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/ocr/OcrDataField.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/ScannableItemResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/EnvelopeMsg.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/OcrDataDeserializer.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/InputEnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/DocumentTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/OcrDataDeserializerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeProcessorValidationTest.java
  src/test/resources/envelope.json
  src/test/resources/ocr-data/invalid/missing-quotes-of-field-name.txt
Labels: ns:bulk-scan-processor-pr-433

#451 Update shedlock
  build.gradle
Labels: ns:bulk-scan-processor-pr-451

#452 Serialise OCR data in queue message as a list
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/OcrDataSerializationJourneyTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/ocr/OcrDataField.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/EnvelopeMsg.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/OcrField.java
Labels: ns:bulk-scan-processor-pr-452

#448 Add divorce service to tests verifying SAS token retrieval
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/SasTokenControllerTest.java
Labels: ns:bulk-scan-processor-pr-448

#453 Create a base class for exceptions related with validation failures
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/FileNameIrregularitiesException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidEnvelopeException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidEnvelopeSchemaException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/MetadataNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/NonPdfFileFoundException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/OcrDataNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/OcrDataParseException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bulk-scan-processor-pr-453

#454 Make OcrField a proper value class
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/OcrField.java
Labels: ns:bulk-scan-processor-pr-454

#455 Check if blob exists before trying to process it
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bulk-scan-processor-pr-455

#456 Send notification in case metafile itself is in bad format
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/resources/zipcontents/invalid_json/1111001.pdf
  src/integrationTest/resources/zipcontents/invalid_json/metadatajson.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidEnvelopeSchemaException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/EnvelopeProcessor.java
Labels: ns:bulk-scan-processor-pr-456

#445 Fix handling of exception occurring during future
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptionhandlers/ErrorNotificationExceptionHandler.java
Labels: ns:bulk-scan-processor-pr-445

#457 Add service for returning zip file status
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepoTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ProcessEventRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ProcessEventRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/model/ZipFileStatus.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
Labels: ns:bulk-scan-processor-pr-457

#461 Add models for 'zip file status' api
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/zipfilestatus/ZipFileEnvelopeMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/zipfilestatus/ZipFileEventMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/zipfilestatus/ZipFileEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/zipfilestatus/ZipFileEvent.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/zipfilestatus/ZipFileStatus.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/zipfilestatus/ZipFileEnvelopeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/zipfilestatus/ZipFileEventMapperTest.java
Labels: ns:bulk-scan-processor-pr-461

#462 Reject files with jurisdiction mismatch
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/resources/zipcontents/jurisdiction_mismatching_bulkscan_container/1111002.pdf
  src/integrationTest/resources/zipcontents/jurisdiction_mismatching_bulkscan_container/metadata.json
  src/integrationTest/resources/zipcontents/non_pdf/metadata.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/ContainerJurisdictionMismatchException.java
Labels: ns:bulk-scan-processor-pr-462

#460 Create repository methods for cleaning OCR data and changing envelope status
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItemRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItemRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/ocr/OcrData.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
Labels: ns:bulk-scan-processor-pr-460

#463 Zip file status: move mapping to service
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/zipfilestatus/ZipFileEnvelopeMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/zipfilestatus/ZipFileEventMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/model/ZipFileStatus.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/zipfilestatus/ZipFileEnvelopeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/zipfilestatus/ZipFileEventMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
Labels: ns:bulk-scan-processor-pr-463

#465 Add controller for zip status
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ZipStatusController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/zipfilestatus/ZipFileEvent.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/DateFormatter.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ZipStatusControllerTest.java
Labels: ns:bulk-scan-processor-pr-465
