Repository hmcts/bulk-scan-processor, pull requests merged in 2019-03, with the labels that each got.

#538 Download zip files summary in csv file format
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriter.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriterTest.java
Labels: ns:bulk-scan-processor-pr-538

#539 Add indexes to process_events
  src/main/resources/db/migration/V038__Add_indexes_to_process_events.sql
Labels: ns:bulk-scan-processor-pr-539

#541 Helm chart initial release
  Jenkinsfile_CNP
  build.gradle
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/requirements.yaml
  charts/bulk-scan-processor/values.aat.template.yaml
  charts/bulk-scan-processor/values.template.yaml
  kubernetes/config.aat.yaml
  kubernetes/deployment.template.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bulk-scan-processor-pr-541

#545 Note which log is important
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bulk-scan-processor-pr-545

#547 BPS-566 Add configuration for container, jurisdiction and po box
  src/functionalTest/resources/1111006.metadata.json
  src/functionalTest/resources/1111006_2.metadata.json
  src/functionalTest/resources/1111007.metadata-with-ocr-data.json
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReuploadFailedEnvelopeTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/envelope.json
  src/integrationTest/resources/zipcontents/invalid_json/metadatajson.json
  src/integrationTest/resources/zipcontents/invalid_metadata/metadatajson.json
  src/integrationTest/resources/zipcontents/invalid_ocr_data/metadatajson.json
  src/integrationTest/resources/zipcontents/mismatching_pdfs/metadata.json
  src/integrationTest/resources/zipcontents/missing_ocr_data/metadatajson.json
  src/integrationTest/resources/zipcontents/non_pdf/metadata.json
  src/integrationTest/resources/zipcontents/ok/metadata.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ContainerMappings.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/ContainerJurisdictionMismatchException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/ContainerJurisdictionPoBoxMismatchException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/errornotifications/ErrorMapping.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/InputEnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeProcessorValidationTest.java
Labels: ns:bulk-scan-processor-pr-547

#553 Remove milliseconds from Zip files summary report time fields
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/ZipFilesSummaryReportItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
Labels: ns:bulk-scan-processor-pr-553

#556 PMD: remove useless parentheses
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Status.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
Labels: ns:bulk-scan-processor-pr-556

#554 Add service for deleting old rejected files
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bulk-scan-processor-pr-554

#561 Clarify param name
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTaskTest.java
Labels: ns:bulk-scan-processor-pr-561

#560 Run rejected files cleanup job
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTask.java
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-560

#559 Remove default Service Bus connection strings from application settings
  charts/bulk-scan-processor/values.template.yaml
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-559

#567 disable persistent storage in Helm chart
  charts/bulk-scan-processor/values.template.yaml
Labels: ns:bulk-scan-processor-pr-567

#566 Create service for sending reports
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSender.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSenderTest.java
Labels: ns:bulk-scan-processor-pr-566

#568 Update gradle
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:bulk-scan-processor-pr-568

#569 BPS-567 Update reports to get th container instead of jurisdiction
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReuploadFailedEnvelopeTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/EnvelopeCountSummaryReportItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/ZipFilesSummaryReportItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/EnvelopeCountSummary.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ZeroRowFiller.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ZipFileSummaryResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriter.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ZeroRowFillerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriterTest.java
Labels: ns:bulk-scan-processor-pr-569

#571 Make the processor crash on failed message handler registration
  charts/bulk-scan-processor/values.template.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/MessageHandlerConfig.java
Labels: ns:bulk-scan-processor-pr-571

#573 Remove some unnecessary S2S sign-ins from functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/UpdateStatusTest.java
Labels: ns:bulk-scan-processor-pr-573

#576 Bug: Enable cleanup job
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTask.java
Labels: ns:bulk-scan-processor-pr-576

#579 Enable reupload job for Probate and Divorce
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-579

#581 Remove envelope status update endpoint
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/TestHelper.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/UpdateStatusTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeUpdateServiceTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeUpdateService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReadEnvelopesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReadSingleEnvelopeControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/UpdateStatusEnvelopesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeUpdateServiceTest.java
Labels: ns:bulk-scan-processor-pr-581

#578 Add missing exception to error log
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
Labels: ns:bulk-scan-processor-pr-578

#583 Make the rejected files' TTL an ISO-8601 duration
  infrastructure/variables.tf
Labels: ns:bulk-scan-processor-pr-583

#594 Fix AKS builds
  Jenkinsfile_CNP
Labels: ns:bulk-scan-processor-pr-594

#586 Enabled the cleanup of rejected files in prod
  infrastructure/prod.tfvars
Labels: ns:bulk-scan-processor-pr-586

#595 Wrap booleans in terraform files with quotes
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
Labels: ns:bulk-scan-processor-pr-595

#592 Fix javax dependencies
  build.gradle
Labels: ns:bulk-scan-processor-pr-592
