Repository hmcts/bulk-scan-processor, pull requests merged in 2019-06, with the labels that each got.

#683 New document types
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputDocumentType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapper.java
  src/main/resources/metafile-schema.json
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/InputEnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/SubtypeTest.java
Labels: ns:bulk-scan-processor-pr-683

#689 Replace unused/deprecated features in IaC
  infrastructure/main.tf
  infrastructure/notifications-api.tf
  infrastructure/saat.tfvars
  infrastructure/sprod.tfvars
  infrastructure/test_config.tf
Labels: ns:bulk-scan-processor-pr-689

#643 Migrate ServiceBus `(get|set)Body` functions to new methods
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/MessageBodyRetriever.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessedEnvelopeNotificationHandler.java
Labels: dependencies, ns:bulk-scan-processor-pr-643

#691 Bump servicebus 1.2.13 -> 1.2.14
  build.gradle
Labels: ns:bulk-scan-processor-pr-691

#694 Include envelope status in zip file summary (json only)
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ZipFilesSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ZipFileSummary.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ZipFilesSummaryRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/ZipFilesSummaryReportItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/ZipFileSummaryResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriter.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/reports/zipfilesummary/ZipFileSummaryItem.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriterTest.java
Labels: ns:bulk-scan-processor-pr-694

#696 New document types
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputDocumentType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
  src/main/resources/metafile-schema.json
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/InputEnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/SubtypeTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeProcessorValidationTest.java
Labels: ns:bulk-scan-processor-pr-696
