Repository hmcts/bulk-scan-processor, pull requests merged in 2019-08, with the labels that each got.

#738 Update url to sample app's validation endpoint
  infrastructure/variables.tf
Labels: ns:bulk-scan-processor-pr-738

#737 Update unit tests to prepare for junit5 usage
  build.gradle
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessedEnvelopeNotificationHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipVerifiersTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
Labels: ns:bulk-scan-processor-pr-737

#745 Bumped Jackson databind version to resolve CVE-2019-14379
  build.gradle
Labels: ns:bulk-scan-processor-pr-745

#741 Update ocr validation response handling
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
Labels: ns:bulk-scan-processor-pr-741

#746 Added finger print of new cert as the old cert expired
  infrastructure/aat.tfvars
Labels: ns:bulk-scan-processor-pr-746

#748 Updated fingerprint of new appgw test cert
  infrastructure/prod.tfvars
Labels: ns:bulk-scan-processor-pr-748

#749 Rename TeamConfig
  Jenkinsfile_CNP
Labels: ns:bulk-scan-processor-pr-749

#752 Add OCR validation warnings column in DB
  src/main/resources/db/migration/V044__Add_validation_warnings_column.sql
Labels: ns:bulk-scan-processor-pr-752

#750 Include OCR validation warnings in queue messages
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/OcrDataSerializationJourneyTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/EnvelopeMsg.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/model/OcrValidationWarnings.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/SubtypeTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/DocumentTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/tasks/processor/DocumentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
Labels: ns:bulk-scan-processor-pr-750

#754 Log ocr validation requests
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/HttpConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/client/OcrValidationClient.java
Labels: ns:bulk-scan-processor-pr-754

#755 Fix auth header for ocr validation calls
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/OcrValidationClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/client/OcrValidationClient.java
Labels: ns:bulk-scan-processor-pr-755

#757 Revert "Log ocr validation requests"
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/HttpConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/client/OcrValidationClient.java
Labels: ns:bulk-scan-processor-pr-757

#758 Reject envelope when JsonMappingException is thrown when parsing metadata file
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/OcrDataParseException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/EnvelopeProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/OcrDataDeserializer.java
Labels: ns:bulk-scan-processor-pr-758

#761 Added suppression for jackson databind used by wiremock
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-processor-pr-761

#762 Fix envelope for functional tests
  src/functionalTest/resources/1111006.metadata.json
Labels: ns:bulk-scan-processor-pr-762

#759 Added mapping for ocr validation exception
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/errornotifications/ErrorMapping.java
Labels: ns:bulk-scan-processor-pr-759

#763 Fix functional test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/functionalTest/resources/1111007.metadata-with-ocr-data.json
Labels: ns:bulk-scan-processor-pr-763

#769 Validate OCR presence
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/OcrPresenceException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/errornotifications/ErrorMapping.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrPresenceValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrPresenceValidatorTest.java
Labels: ns:bulk-scan-processor-pr-769

#773 Move ocr presence validator to ocr validator
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
Labels: ns:bulk-scan-processor-pr-773

#771 Allow `null` value as `document_sub_type` as input
  src/main/resources/metafile-schema.json
  src/test/resources/metafiles/valid/from-spec.json
Labels: ns:bulk-scan-processor-pr-771

#756 Update Jenkins files for secret loading
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  infrastructure/output.tf
Labels: ns:bulk-scan-processor-pr-756

#781 Remove deprecated config
  Jenkinsfile_CNP
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/requirements.yaml
  charts/bulk-scan-processor/values.aat.template.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  charts/bulk-scan-processor/values.yaml
  infrastructure/output.tf
Labels: ns:bulk-scan-processor-pr-781

#785 Added vault name and uri to output tf vars as it is required by pipeline
  infrastructure/output.tf
Labels: ns:bulk-scan-processor-pr-785

#776 Update Jenkins config files
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  infrastructure/output.tf
Labels: ns:bulk-scan-processor-pr-776

#791 Updated location of servicebus due to issues in uksouth region
  charts/bulk-scan-processor/values.preview.template.yaml
Labels: ns:bulk-scan-processor-pr-791

#792 Fix load secrets
  Jenkinsfile_CNP
Labels: ns:bulk-scan-processor-pr-792
