Repository hmcts/bulk-scan-processor, pull requests merged in 2019-07, with the labels that each got.

#697 Rename WhenApplicationDeployedTest to ApplicationHealthTest
  src/smokeTest/java/uk/gov/hmcts/reform/bulkscanprocessor/ApplicationHealthTest.java
Labels: ns:bulk-scan-processor-pr-697

#699 Throw exception when metafile contains unknown properties
  src/main/resources/metafile-schema.json
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidatorTestForInvalidFiles.java
  src/test/resources/metafiles/invalid/missing-required-fields.json
  src/test/resources/metafiles/invalid/missing-top-level-fields.json
  src/test/resources/metafiles/invalid/unrecognised-fields.json
Labels: ns:bulk-scan-processor-pr-699

#700 Update document subtype property name
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputScannableItem.java
  src/main/resources/metafile-schema.json
Labels: ns:bulk-scan-processor-pr-700

#704 Clean up validation test
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeProcessorValidationTest.java
Labels: ns:bulk-scan-processor-pr-704

#705 Add ocr validation endpoint url to container config
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ContainerMappings.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ZeroRowFillerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeProcessorValidationTest.java
Labels: ns:bulk-scan-processor-pr-705

#707 Check that all scannable items point to different pdf
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeProcessorValidationTest.java
Labels: ns:bulk-scan-processor-pr-707

#708 Add client for ocr validation endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/OcrValidationClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/client/OcrValidationClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/client/model/req/FormData.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/client/model/req/OcrDataField.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/client/model/res/Status.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/client/model/res/ValidationResponse.java
Labels: ns:bulk-scan-processor-pr-708

#709 Check that envelope has no duplicate DCNs
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/DuplicateDocumentControlNumbersInEnvelopeException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/errornotifications/ErrorMapping.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/InputEnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeProcessorValidationTest.java
Labels: ns:bulk-scan-processor-pr-709

#712 Added subscripition var to db module as it is mandatory going forward
  infrastructure/main.tf
Labels: ns:bulk-scan-processor-pr-712

#711 Add ocr validator
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/OcrValidationException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
Labels: ns:bulk-scan-processor-pr-711

#713 Extract methods in ocr validator
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
Labels: ns:bulk-scan-processor-pr-713

#715 Send notification on duplicate dcn in envelope
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/DuplicateDocumentControlNumbersInEnvelopeException.java
Labels: ns:bulk-scan-processor-pr-715

#718 Fix/Update config for Jenkins pipeline(includes sonarqube config deprecations)
  Jenkinsfile_CNP
  build.gradle
Labels: ns:bulk-scan-processor-pr-718

#719 Use OCR validator
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/OcrValidationException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
Labels: ns:bulk-scan-processor-pr-719

#720 Log a warning when multiple docs contain OCR data
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
Labels: ns:bulk-scan-processor-pr-720

#714 Feature/make dcn unique across all envelopes
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/TestHelper.java
  src/functionalTest/resources/1111006.metadata.json
  src/functionalTest/resources/1111006_2.metadata.json
  src/functionalTest/resources/1111007.metadata-with-ocr-data.json
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/resources/zipcontents/too_long_dcn/1111002.pdf
  src/integrationTest/resources/zipcontents/too_long_dcn/metadata.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/DuplicateDocumentControlNumberException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/errornotifications/ErrorMapping.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/EnvelopeProcessor.java
  src/main/resources/db/migration/V043__Unique_DCN.sql
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReadEnvelopesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
Labels: ns:bulk-scan-processor-pr-714

#724 Update Dockerfile to use image from new place
  Dockerfile
Labels: ns:bulk-scan-processor-pr-724

#726 Update OCR data in functional test envelope
  src/functionalTest/resources/1111006_2.metadata.json
Labels: ns:bulk-scan-processor-pr-726

#727 Update url for OCR validation
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/OcrValidationClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/client/OcrValidationClient.java
Labels: ns:bulk-scan-processor-pr-727

#728 Update ocr validation request body
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/OcrValidationClientTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/client/OcrValidationClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/client/model/req/FormData.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
Labels: ns:bulk-scan-processor-pr-728

#732 Update .editorconfig
  .editorconfig
Labels: ns:bulk-scan-processor-pr-732

#730 Enable ocr validation for sample app
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:bulk-scan-processor-pr-730

#722 Remove setter from DB model introduced in #714
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReadEnvelopesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
Labels: ns:bulk-scan-processor-pr-722

#729 Log info when OCR validation url is not configured for service
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
Labels: ns:bulk-scan-processor-pr-729

#733 Propagate `additionalProperties` to child elements in metafile schema
  src/main/resources/metafile-schema.json
Labels: ns:bulk-scan-processor-pr-733

#734 Add more logging to OCR validator
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
Labels: ns:bulk-scan-processor-pr-734

#736 Update configuration for RestTemplate
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/DocumentStorageConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/HttpConfiguration.java
Labels: ns:bulk-scan-processor-pr-736

#735 Use Helm charts from hmctspublic repository
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/requirements.yaml
Labels: ns:bulk-scan-processor-pr-735
