Repository hmcts/bulk-scan-processor, pull requests merged in 2020-06, with the labels that each got.

#1322 fix dependabot and suppression
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1322

#1324 Added indexes on envelopes
  src/main/resources/db/migration/V055__Add_jurisdiction_status_index_on_envelopes.sql
  src/main/resources/db/migration/V056__Add_createdat_date_index_on_envelopes.sql
Labels: ns:bsp, rel:bulk-scan-processor-pr-1324

#1327 add ccd id and envelope ccd action fields to zip-files endpoint response
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/zipfilestatus/ZipFileEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ZipStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1327

#1326 Remove end-to-end test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/e2e/EnvelopeProcessingTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1326

#1328 Set SSCS OCR validation url
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1328

#1329 Log DCNs
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1329

#1323 Acquire lease before blob deletion
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1323

#1333 Refactor Error Mappings
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/ContainerJurisdictionPoBoxMismatchException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/DuplicateDocumentControlNumberException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/DuplicateDocumentControlNumbersInEnvelopeException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/FileNameIrregularitiesException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidEnvelopeSchemaException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidMetafileException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidZipEntriesException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/MetadataNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/NonPdfFileFoundException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/OcrDataNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/OcrPresenceException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/OcrValidationException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/ZipFileProcessingFailedException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/ZipNameNotMatchingMetaDataException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/errornotifications/ErrorMapping.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1333

#1334 Fix logging file name
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTask.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1334

#1266 Added staging db
  infrastructure/main.tf
Labels: ns:bsp, rel:bulk-scan-processor-pr-1266

#1338 arrange health appinsight
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/TracingConfiguration.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1338

#1350 Rename (c|C)ompile -> (i|I)mplementation in gradle build config
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1350

#1353 Remove ASE related files
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/RootController.java
  web.config
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1353

#1352 Migrate integration tests to junit5
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/SasTokenControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ProcessEventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItemTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ZipFilesSummaryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/.gitignore
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/OcrDataSerializationJourneyTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/SchedulerConfigTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/OcrValidationClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeRetrieverTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSenderDisabledTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSenderTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedFilesReportServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledPayments.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledService.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailingNotification.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestWithAcquireLease.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/IncompleteEnvelopesDisabledTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1352

#1349 send ocr errors in notification messages
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/OcrValidationException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1349

#1355 mutationtTests
  Jenkinsfile_nightly
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1355

#1268 Added staging values for queues and storage account
  Jenkinsfile_CNP
  charts/bulk-scan-processor/values.aat.template.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1268

#1361 Added secret to aat
  charts/bulk-scan-processor/values.aat.template.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1361

#1363 Make queue name configurable per environment due to staging queue name being different
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.aat.template.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1363

#1364 Fix build - Use staging storage for AAT staging
  charts/bulk-scan-processor/values.aat.template.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1364

#1365 Restore the secret required for func test which got removed while adding staging config
  Jenkinsfile_CNP
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1365

#1366 Don't use proxy to access internal staging blob storage
  Jenkinsfile_CNP
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1366

#1359 change ocr validation failure message
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1359

#1351 Upgrade to Java 11
  Dockerfile
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/HttpConfiguration.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1351

#1356 Delete DOC_PROCESSED events
  src/main/resources/db/migration/V057__Delete_Processed_status_and_DOC_PROCESSED_event.sql
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1356

#1369 Remove jUnit4 comletely
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetSasTokenTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/bulkscanprocessor/ApplicationHealthTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/bulkscanprocessor/TestHelper.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1369

#1357 Cleanup envelope status and event types
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Status.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/Event.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1357

#1372 Replace travis with GitHub action
  .github/workflows/ci.yml
  .travis.yml
  README.md
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1372

#1358 ErrorMessageSender
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledPayments.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledService.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailingNotification.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestWithAcquireLease.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1358

#1376 Feature/add pact test for sample app ocr validation
  build.gradle
  config/owasp/suppressions.xml
  src/contractTest/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/SampleAppConsumerTest.java
  src/contractTest/resources/sampleapp/valid-ocr.json
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1376

#1378 File error handler
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledPayments.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledService.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailingNotification.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestWithAcquireLease.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileErrorHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileErrorHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1378

#1380 EnvelopeValidator component
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledPayments.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledService.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailingNotification.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestWithAcquireLease.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeProcessorValidationTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/envelope/DocumentTypesValidationTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1380

#1377 Rejection exception and tidy up Exceptions
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/ContainerJurisdictionPoBoxMismatchException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/DuplicateDocumentControlNumberException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/DuplicateDocumentControlNumbersInEnvelopeException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/EnvelopeRejectionException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/FileNameIrregularitiesException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidEnvelopeSchemaException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidMetafileException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidZipEntriesException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/MetadataNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/NonPdfFileFoundException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/OcrDataNotFoundException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/OcrPresenceException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/OcrValidationException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/PaymentsDisabledException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/ServiceDisabledException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/ZipFileProcessingFailedException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/ZipNameNotMatchingMetaDataException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileErrorHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/errornotifications/ErrorMapping.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileErrorHandlerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1377

#1379 Publish pact contracts
  Jenkinsfile_CNP
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1379

#1385 Publish error notification message with container and zip file name
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationSender.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationSenderTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1385

#1389 Simplified class hierarchy
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledPayments.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledService.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailingNotification.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestWithAcquireLease.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1389

#1384 EnvelopeHandler
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1384

#1390 Update ocr validation pact contract for sample-app
  src/contractTest/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/SampleAppConsumerTest.java
  src/contractTest/resources/sampleapp/ocr-with-missing-last-name.json
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1390

#1391 FileContentProcessor
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1391

#1393 Log doc info when ocr validation fails
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1393

#1392 Event creation
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileRejector.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileRejectorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1392

#1394 Handle sscs1 form ocr validation
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1394

#1395 fix pact contract
  src/contractTest/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/SampleAppConsumerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1395
