Repository hmcts/bulk-scan-processor, pull requests merged in 2020-08, with the labels that each got.

#1435 Refactor/move incomplete envelope duration to config
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/IncompleteEnvelopesTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/IncompleteEnvelopesTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1435

#1437 Check for incomplete envelopes every 15min
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1437

#1442 Upgrade blob lib for sas token
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetSasTokenTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/config/IntegrationContextInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/SasTokenControllerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/HttpConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/SasTokenGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/SasTokenGeneratorServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1442

#1443 use new lib in contributor
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/info/BlobContainerInfoContributor.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1443

#1444 add test for contributor - for /info endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/info/BlobContainerInfoContributorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/info/BlobContainerInfoContributor.java
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1444

#1445 upgrade blob lib part 3 - use in Rejected files report
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedFilesReportServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedFilesReportService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedFilesReportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1445

#1450 Add content type to headers for OCR validation client call
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/client/OcrValidationClient.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1450

#1436 Feature: build queue clients using access key and namespace
  charts/bulk-scan-processor/values.preview.template.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/QueueConfigurationProperties.java
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1436

#1451 introduce new classes to lease and check-mark metadata
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/config/IntegrationContextInitializer.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseAcquirer.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseClientProvider.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseMetaDataChecker.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseAcquirerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseMetaDataCheckerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1451

#1448 use new lib in rejected file cleaning
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseAcquirer.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1448

#1455 Fix lastmodified compare
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTask.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1455

#1454 Scheduled daily reports
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSender.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSenderTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1454

#1460 fix date compare in sas token tests
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/SasTokenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/SasTokenGeneratorServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1460

#1456 use new version of azure-blob-api in DeleteCompleteFilesTask
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/BlobDeleteException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1456

#1467 Revert "Bump postgresql from 42.2.14 to 42.2.15"
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1467

#1464 use new blob lib in func tests
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeDeletionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetSasTokenTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/bulkscanprocessor/TestHelper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/SasTokenGeneratorServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1464

#1469 Upgrade blob lib part 7.1 - refactor func test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/config/TestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeDeletionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetSasTokenTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1469

#1472 clear metadata after success
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseAcquirer.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseMetaDataChecker.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseAcquirerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseMetaDataCheckerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1472

#1479 Fix -lease the blob after upload
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetSasTokenTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1479

#1480 Removed core infra compute references as platform cleaned up core-infra
  infrastructure/state.tf
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1480

#1475 Blobmanager - change copy blob
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileRejector.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileRejectorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1475

#1481 Remove no longer used `EnvelopeStatusChangeValidator`
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptionhandlers/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidStatusChangeException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeStatusChangeValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeStatusChangeValidatorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1481

#1474 Repo first event
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ReceivedZipFileRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/PaymentRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ReceivedZipFile.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ReceivedZipFileItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ReceivedZipFileRepository.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1474

#1459 use new blob lib in upload task
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/util/TestStorageHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1459

#1483 add log for upload task
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsService.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1483

#1484 add filename in func test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeDeletionTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1484

#1485 Upgrade blob lib - use in blob processor
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledPayments.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailingNotification.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileNamesExtractor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileNamesExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1485

#1487 increase functional tests waits
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeDeletionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1487

#1488 use block blob to copy rejected blob
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1488

#1492 change copy url
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/BlobCopyException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1492

#1494 Used Pair instead of Tuple2
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedZipFileConverter.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedZipFileConverterTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1494

#1495 Upgrade blob lib part 8.2 use in blob processor change copyfrom url
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeDeletionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledPayments.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailingNotification.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileNamesExtractor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileNamesExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1495

#1491 Reconciliation service
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedZipFileConverter.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReconciliationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/Discrepancy.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/DiscrepancyType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/ReconciliationStatement.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/ReportedZipFile.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReconciliationServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1491

#1496 remove old version of blob lib - blob upgrade part-9
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/config/IntegrationContextInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/SasTokenControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeRetrieverTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedFilesReportServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/StorageConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileRejector.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/blobstorage/MockBlob.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileRejectorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1496

#1497 change method names -blob lib upgrade 9.2
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileRejector.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedFilesReportService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileRejectorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedFilesReportServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1497

#1498 remove unnecessary config - blob lib upgrade 9.3
  lib/AI-Agent.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1498

#1499 use created blobServiceClient not autowired one - blob upgrade part 9.3
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1499

#1501 add logs
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1501

#1502 Use DiscrepancyType in Discrepancy class
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReconciliationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/Discrepancy.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReconciliationServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1502

#1473 Update tests to run on Jenkins Docker agent
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedFilesReportServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/util/TestStorageHelper.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/docker-compose.yml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1473
