Repository hmcts/bulk-scan-processor, pull requests merged in 2020-02, with the labels that each got.

#1040 Add service field to error notifications
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ErrorNotificationRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ErrorNotification.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/ErrorMsg.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/resources/db/migration/V046__Add_service_field_to_error_notifications.sql
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandlerTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1040

#1042 Revert "Removed env var outputting for funct tests and removed unused proxy"
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1042

#1037 Add terraform version manager
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
Labels: ns:bsp, rel:bulk-scan-processor-pr-1037

#1041 Populate service column in error notifications table
  src/main/resources/db/migration/V047__Update_service_column.sql
Labels: ns:bsp, rel:bulk-scan-processor-pr-1041

#1046 Make service column mandatory in the error notifications table
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/ErrorMsg.java
  src/main/resources/db/migration/V048__Make_service_column_not_null.sql
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationServiceTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1046

#1047 Remove deprecated feature flag from Jenkins_CNP
  Jenkinsfile_CNP
Labels: ns:bsp, rel:bulk-scan-processor-pr-1047

#1052 Upgrade checkstyle
  build.gradle
  config/checkstyle/checkstyle.xml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1052

#1054 Remove redundant dependency management for tomcat
  build.gradle
Labels: ns:bsp, rel:bulk-scan-processor-pr-1054

#1055 Remove deprecated usage of property in preview chart template
  charts/bulk-scan-processor/values.preview.template.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1055

#1062 add publiclaw config
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetSasTokenTest.java
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1062

#1063 remove unused container from preview
  charts/bulk-scan-processor/values.preview.template.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1063

#1064 processor - move functional test to junit 5
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeDeletionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetSasTokenTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1064

#1065 Add config to disable publiclaw in prod
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1065

#1043 Removed outputting of env vars as was added temporarily
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1043

#1070 Add envelope classification to the Zip Files summary daily report
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ZipFilesSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ZipFileSummary.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ZipFilesSummaryRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/ZipFilesSummaryReportItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/ZipFileSummaryResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriter.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/reports/zipfilesummary/ZipFileSummaryItem.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriterTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1070

#1074 Throw timeout exception when sending message to queue fails due to connection timeout
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/ServiceBusConnectionTimeoutException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelper.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1074
