Repository hmcts/bulk-scan-processor, pull requests merged in 2020-04, with the labels that each got.

#1116 Enable no-new-envelopes alert job
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/integrationTest/resources/application.properties
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1116

#1121 Added findByContainerAndStatus
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1121

#1123 Renamed parameter
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1123

#1127 Added zipDeleted parameter to query
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1127

#1126 Delete job
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1126

#1136 Delete schedule
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/SchedulerConfigTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTask.java
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1136

#1153 Bug/fix error code for invalid zip file content
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidZipFilesException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/errornotifications/ErrorMapping.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipVerifiers.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipVerifiersTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1153

#1154 Upgrade gradle
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: ns:bsp, rel:bulk-scan-processor-pr-1154

#1137 Rename classes related to rejected files report
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedFilesReportServiceTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/RejectedEnvelopesResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/RejectedFilesResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedFilesReportService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/RejectedFile.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedFilesReportServiceTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1137

#1157 Conf delete
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  charts/bulk-scan-processor/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
  src/integrationTest/resources/application.properties
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1157

#1141 Convert ZipFileProcessor to a component
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledPayments.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledService.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForSignatureUsage.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestWithAcquireLease.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DelayedFileProcessingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/Processor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1141

#1161 Blob delete failure event
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1161

#1167 Send error notifications to reform-scan's queue
  infrastructure/main.tf
Labels: ns:bsp, rel:bulk-scan-processor-pr-1167

#1160 Update dependencies
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1160

#1169 Remove the wait check to process the zip files
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DelayedFileProcessingTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1169

#1168 Stop checking signature - part 1
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForSignatureUsage.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipVerifiers.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/DirectoryZipper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/SigningHelper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipVerifiersTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1168

#1172 Remove obsolete model
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipVerifiers.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipVerifiersTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1172

#1170 Add helper methods for upload service
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/EnvelopeProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/EnvelopeProcessorTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1170

#1175 Dont send signature in functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/TestHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipVerifiers.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1175

#1173 Remove no longer used exception
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/DocSignatureFailureException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/errornotifications/ErrorMapping.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1173

#1174 Remove the wait check config
  charts/bulk-scan-processor/Chart.yaml
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1174

#1178 Added manual status change event used for reprocessing
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/Event.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1178

#1180 Remove signing key usage from functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeDeletionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetSasTokenTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/TestHelper.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1180

#1181 Remove ASE deployment for demo
  infrastructure/demo.tfvars
  infrastructure/main.tf
Labels: ns:bsp, rel:bulk-scan-processor-pr-1181

#1163 Extracted file deletion functionality out of the main job
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeDeletionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/Processor.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1163

#1171 Count summary
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/EnvelopeCountSummaryRepository.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1171

#1182 Remove signature algorithm property
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  infrastructure/main.tf
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipVerifiers.java
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1182

#1188 Rename helper class
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/TestHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipExtractor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/DirectoryZipper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipExtractorTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1188

#1185 Populate poBox in error notification message
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/ConfigurationException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1185

#1192 Cron expression for delete job in aat
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1192

#1179 Add service for document uploads
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsServiceTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1179

#1187 Added logging to report
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1187

#1194 Remove not used exception class
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/SignatureValidationException.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1194

#1195 Remove signing scripts
  bin/README.md
  bin/sign-zip-upload.sh
  bin/wrap_and_sign_envelope.sh
Labels: ns:bsp, rel:bulk-scan-processor-pr-1195

#1196 Remove not used terraform config
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/preview.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/variables.tf
  src/integrationTest/resources/application.properties
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1196

#1193 Switch to reform-scan's notifications queue in prod
  infrastructure/main.tf
Labels: ns:bsp, rel:bulk-scan-processor-pr-1193

#1191 Add `upload-documents` task
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTaskTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1191

#1198 Remove test signing keys from resources
  src/functionalTest/resources/test_private_key.der
  src/integrationTest/resources/signing/some_other_private_key.der
  src/integrationTest/resources/signing/test_private_key.der
  src/integrationTest/resources/signing/test_public_key.der
  src/test/resources/signature/nonprod_envelope_signature
  src/test/resources/signature/private_key.pem
  src/test/resources/signature/prod_public_key.der
  src/test/resources/signature/prod_test_signature
  src/test/resources/signature/public_key.der
  src/test/resources/signature/signature
  src/test/resources/signature/some_other_private_key.der
  src/test/resources/signature/test1.pdf.sig
  src/test/resources/signature/test_private_key.der
  src/test/resources/signature/xyz_test_public_key.der
Labels: ns:bsp, rel:bulk-scan-processor-pr-1198

#1200 Clean up sas token test
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  infrastructure/test_config.tf
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetSasTokenTest.java
  src/functionalTest/resources/application.conf
Labels: ns:bsp, rel:bulk-scan-processor-pr-1200

#1202 Check if envelope exists after lease on blob is acquired
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1202

#1203 Remove not used test files
  src/test/resources/signature/nonprod_envelope.zip
  src/test/resources/signature/prod_test_envelope.zip
Labels: ns:bsp, rel:bulk-scan-processor-pr-1203

#1204 Remove reading of error notifications
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationClientTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ErrorNotificationRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandlerTest.java
  src/integrationTest/resources/application-wiremock.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationClient.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationDecoder.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/MessageHandlerConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ServiceBusHelpersConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ErrorNotification.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ErrorNotificationRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptionhandlers/ErrorNotificationExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/in/ErrorNotificationFailingResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/in/ErrorNotificationResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/errors/ErrorNotificationRequest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/client/ErrorNotificationDecoderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptionhandlers/ErrorNotificationExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandlerTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1204

#1205 Rename resources subdirectory
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipExtractorTest.java
  src/test/resources/envelopes/sample_valid_content/1111002.pdf
  src/test/resources/envelopes/sample_valid_content/metadata.json
Labels: ns:bsp, rel:bulk-scan-processor-pr-1205

#1197 Refactor use of processor abstract class
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Status.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/Event.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/Processor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/EnvelopeProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/EnvelopeProcessorTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1197

#1207 Remove unused configuration for error notification
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  charts/bulk-scan-processor/values.yaml
  infrastructure/main.tf
  infrastructure/notifications-api.tf
  infrastructure/variables.tf
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1207

#1208 Clean up delete job a bit
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTask.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1208

#1206 Remove usage of PROCESSED status
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeRetrieverTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestWithAcquireLease.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/integrationTest/resources/envelope.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/Processor.java
  src/smokeTest/java/uk/gov/hmcts/reform/bulkscanprocessor/ApplicationHealthTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReadEnvelopesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeRetrieverServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTaskTest.java
  src/test/resources/envelope.json
Labels: ns:bsp, rel:bulk-scan-processor-pr-1206

#1210 Dont create an event when deleting completed file fails
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1210
