Repository hmcts/bulk-scan-processor, pull requests merged in 2020-07, with the labels that each got.

#1397 Rename pact provider name 'sample_app_ocr_validation' -> 'bulk_scan_sample_app'
  src/contractTest/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/SampleAppConsumerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1397

#1400 Update functional tests to use unique file names
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeDeletionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetSasTokenTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/bulkscanprocessor/TestHelper.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1400

#1401 File names extractor
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileNamesExtractor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileNamesExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1401

#1404 add bulkscanauto
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1404

#1409 upgrade azure service bus version
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1409

#1410 avoid vulnerability
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1410

#1411 Fix flux functional test
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/functionalTest/resources/application.conf
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1411

#1412 increase wait time
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1412

#1413 Consider envelope stale after 1h
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/IncompleteEnvelopesTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/IncompleteEnvelopesTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1413

#1414 Check for incomplete envelopes more often
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1414

#1415 upgrade java chart version
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/requirements.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1415

#1416 remove blob existence check for Func test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1416

#1418 Bump tomcat 9.0.36 -> 9.0.37
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1418

#1427 Reject envelope containing scanned documents with invalid document type
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/resources/zipcontents/invalid_document_type/1111002.pdf
  src/integrationTest/resources/zipcontents/invalid_document_type/metadata.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/DisallowedDocumentTypesException.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1427

#1432 Use new method signature as jenkins library is updated
  Jenkinsfile_CNP
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1432

#1426 Extend config for servicebus to be able start using different setup
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.aat.template.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1426
