Repository hmcts/bulk-scan-processor, pull requests merged in 2020-01, with the labels that each got.

#1006 Removed retired suppression and update tomcat versions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bulk-scan-processor-pr-1006

#1007 Add new script for sign+zip+upload
  bin/README.md
  bin/sign-zip-upload.sh
Labels: ns:bulk-scan-processor-pr-1007

#1008 Amend zip blob upload script
  bin/README.md
  bin/sign-zip-upload.sh
Labels: ns:bulk-scan-processor-pr-1008

#1012 Update api mgmt cert thumbprint for prod
  infrastructure/prod.tfvars
Labels: ns:bulk-scan-processor-pr-1012

#1013 Enable storage proxy for all environments except preview
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  charts/bulk-scan-processor/values.yaml
Labels: ns:bulk-scan-processor-pr-1013

#1015 Revert "Enable storage proxy for all environments except preview"
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  charts/bulk-scan-processor/values.yaml
Labels: ns:bulk-scan-processor-pr-1015

#1014 Introduced ZipFileLoadException
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/ZipFileLoadException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
Labels: ns:bulk-scan-processor-pr-1014

#1017 Not include root folders when running zip command
  bin/sign-zip-upload.sh
Labels: ns:bsp, rel:bulk-scan-processor-pr-1017

#1024 Added proxy for functional tests for all envs except preview
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
  src/functionalTest/resources/application.conf
Labels: ns:bsp, rel:bulk-scan-processor-pr-1024

#1030 Set proxy explicitly for functional tests
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1030

#1034 Upload blob in func tests with operation context which includes proxy
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BlobProcessorTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeDeletionTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/TestHelper.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1034

#1035 Fix bug to parse string to boolean
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1035

#1036 Removed env var outputting for funct tests and removed unused proxy
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1036
