Repository hmcts/bulk-scan-processor, pull requests merged in 2020-05, with the labels that each got.

#1213 Introduce `TestStorageHelper` for storage boilerplate actions
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/util/TestStorageHelper.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1213

#1222 Bump log4j dependencies 2.12.1 -> 2.13.2
  build.gradle
Labels: ns:bsp, rel:bulk-scan-processor-pr-1222

#1221 Added index for envelope based on container and zip file
  src/main/resources/db/migration/V049__Add_index_envelope_container_zip.sql
Labels: ns:bsp, rel:bulk-scan-processor-pr-1221

#1223 Added index for zip deleted field as deletion query relies on this field
  src/main/resources/db/migration/V050__Add_envelopes_zipDeleted_index.sql
Labels: ns:bsp, rel:bulk-scan-processor-pr-1223

#1199 Enable new `upload-documents` task
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  charts/bulk-scan-processor/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/SchedulerConfigTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTask.java
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1199

#1211 Amend tests for upload documents task
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTaskTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1211

#1225 ignore unknown fields in ProcessedEnvelope
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/in/msg/ProcessedEnvelope.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessedEnvelopeNotificationHandlerTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1225

#1216 Fix logging version
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReuploadFailedEnvelopeTaskTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1216

#1226 Create indexes on envelope_id foreign key where present
  src/main/resources/db/migration/V051__Add_foreign_key_indexes.sql
Labels: ns:bsp, rel:bulk-scan-processor-pr-1226

#1230 Delete obsolete 'BLOB_DELETE_FAILURE' events from DB
  src/main/resources/db/migration/V052__Delete_BLOB_DELETE_FAILURE_events.sql
Labels: ns:bsp, rel:bulk-scan-processor-pr-1230

#1227 add new fields to ProcessedEnvelope
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/in/msg/ProcessedEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessedEnvelopeNotificationHandler.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1227

#1235 Use London time zone for the date and time fields in the zip file summary report
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/TimeZones.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1235

#1231 Release acquired lease after processing blob
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1231

#1214 Handling SSCS1 document type
  src/integrationTest/resources/envelope.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/SubtypeTest.java
  src/test/resources/metafiles/valid/with-scannable-items.json
Labels: ns:bsp, rel:bulk-scan-processor-pr-1214

#1236 Remove no longer needed PROCESSED/DOC_PROCESSED
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ProcessEventRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Status.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriterTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1236

#1238 Remove API gateway tests
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  build.gradle
  src/apiGatewayTest/java/uk/gov/hmcts/reform/bulkscanprocessor/api/GetSasTokenTest.java
  src/apiGatewayTest/resources/application.conf
  src/apiGatewayTest/resources/unrecognised-client-certificate-info.md
  src/apiGatewayTest/resources/unrecognised-client-certificate.pfx
Labels: ns:bsp, rel:bulk-scan-processor-pr-1238

#1239 rename fields of ProcessedEnvelope
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/in/msg/ProcessedEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessedEnvelopeNotificationHandler.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1239

#1243 Remove api gateway
  README.md
  infrastructure/aat.tfvars
  infrastructure/api-gateway-test-vars.tf
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/template/api-policy.xml
  infrastructure/template/api.json
  infrastructure/variables.tf
Labels: ns:bsp, rel:bulk-scan-processor-pr-1243

#1242 add new ccd columns to envelope table
  src/main/resources/db/migration/V053__Add_ccd_id_and_action_to_envelopes.sql
Labels: ns:bsp, rel:bulk-scan-processor-pr-1242

#1249 use latest version of dom 4j to avoid vulnerability
  build.gradle
Labels: ns:bsp, rel:bulk-scan-processor-pr-1249

#1248 Removed OCR validation for exceptions
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1248

#1237 Refactor envelope processor
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReuploadFailedEnvelopeTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReuploadFailedEnvelopeTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/EnvelopeProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/EnvelopeProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1237

#1212 Remove upload step from scanning task
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestWithAcquireLease.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/EnvelopeProcessor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTaskTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1212

#1245 Add an assertion checking the body of envelopes endpoint response
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/TestHelper.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1245

#1251 change type
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/in/msg/ProcessedEnvelope.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1251

#1250 start saving ccd id and ccd action to db
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserServiceTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Envelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/in/msg/ProcessedEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessedEnvelopeNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessedEnvelopeNotificationHandlerTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1250

#1224 Re-use upload documents service for re-upload task
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReuploadFailedEnvelopeTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/JurisdictionsConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReuploadFailedEnvelopeTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReUploadFailedEnvelopesTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/FailedDocUploadProcessorTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1224

#1257 Removed deprecated flag
  Jenkinsfile_CNP
Labels: ns:bsp, rel:bulk-scan-processor-pr-1257

#1258 Remove troublesome and not useful log capture from integration tests
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestWithAcquireLease.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1258

#1253 Simplify counting successfully sent messages
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTask.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1253

#1259 Update shedlock
  build.gradle
Labels: ns:bsp, rel:bulk-scan-processor-pr-1259

#1252 Remove not used `Processor` abstract class
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledPayments.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledService.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestWithAcquireLease.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/Processor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1252

#1241 Handling sending message error
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailingNotification.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/EnvelopeRejectingException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1241

#1260 Reject zip files with invalid entry set
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidZipEntriesException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidZipFilesException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/errornotifications/ErrorMapping.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipExtractor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipExtractorTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1260

#1264 Add config for SSCS OCR validation endpoint
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1264

#1267 Enable CORS for reporting endpoints
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1267

#1278 Log loading zip to memory
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1278

#1271 Format envelopes query
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ZipFilesSummaryRepository.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1271

#1279 Retrieve CCD id and action from envelopes table
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ZipFilesSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ZipFileSummary.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ZipFilesSummaryRepository.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/reports/zipfilesummary/ZipFileSummaryItem.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1279

#1280 Return envelope's CCD id and action from service layer
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/ZipFileSummaryResponse.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriterTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1280

#1281 Feature/include envelope ccd id and action in report
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/ZipFilesSummaryReportItem.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1281

#1282 Update (stuck) dependencies all in one
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew.bat
Labels: ns:bsp, rel:bulk-scan-processor-pr-1282

#1283 Check the lease acquired time when acquiring the lease for blob
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/BlobManagementProperties.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1283

#1284 Add config for blob lease duration
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  charts/bulk-scan-processor/values.yaml
  src/integrationTest/resources/application.properties
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1284

#1287 Return envelope's CCD id and action from `/envelopes` endpoint
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/EnvelopeResponse.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReadEnvelopesControllerTest.java
  src/test/resources/envelope.json
Labels: ns:bsp, rel:bulk-scan-processor-pr-1287

#1288 Use new envelope fields in functional test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1288

#1289 Minor improvements to Upload task
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsServiceTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1289

#1293 Upgrade tomcat embedded jars due to CVE-2020-9484
  build.gradle
Labels: ns:bsp, rel:bulk-scan-processor-pr-1293

#1290 Update blob metadata after setting the lease expiration time
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1290

#1294 Require docs with OCR to have subtype set
  src/integrationTest/resources/zipcontents/disabled_payments/metadata.json
  src/integrationTest/resources/zipcontents/duplicate_dcn/metadata.json
  src/integrationTest/resources/zipcontents/duplicate_payment_dcns/metadata.json
  src/integrationTest/resources/zipcontents/exception_payments/metadata.json
  src/integrationTest/resources/zipcontents/jurisdiction_mismatching_bulkscan_container/metadata.json
  src/integrationTest/resources/zipcontents/mismatching_pdfs/metadata.json
  src/integrationTest/resources/zipcontents/new_application_payments/metadata.json
  src/integrationTest/resources/zipcontents/ok/metadata.json
  src/integrationTest/resources/zipcontents/supplementary_evidence_with_ocr/metadata.json
  src/integrationTest/resources/zipcontents/supplementary_evidence_with_ocr_with_payments/metadata.json
  src/integrationTest/resources/zipcontents/too_long_dcn/metadata.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrPresenceValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrPresenceValidatorTest.java
  src/test/resources/metafiles/valid/from-spec.json
  src/test/resources/metafiles/valid/with-scannable-items.json
Labels: ns:bsp, rel:bulk-scan-processor-pr-1294

#1295 Improve test resources navigation
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1295

#1297 Update lease config
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.aat.template.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1297

#1299 Reformat envelope controller test
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1299

#1301 Clear blob lease expiration time from the metadata before releasing the lease
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1301

#1298 Remove reupload job
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/SchedulerConfigTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReuploadFailedEnvelopeTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReuploadFailedEnvelopeTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ReUploadFailedEnvelopesTaskTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTaskTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1298

#1302 Update query for finding envelopes to upload
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1302

#1308 Reformat test
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/SubtypeTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1308

#1307 Filter out failed envelopes in sql query
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTaskTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1307

#1309 Updated validation for subtype as SSCS1 needs special handling
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrPresenceValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrPresenceValidatorTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1309

#1310 Improve reports test
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1310

#1300 retry if delete fails
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1300

#1311 Remove obsolete reupload properties
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1311

#1312 Remove obsolete reupload env vars from chart
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1312

#1314 Rename max upload retries property
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTask.java
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1314

#1315 Drop error_notifications
  src/main/resources/db/migration/V054__Drop_error_notifications.sql
Labels: ns:bsp, rel:bulk-scan-processor-pr-1315
