Repository hmcts/bulk-scan-processor, pull requests merged in 2020-09, with the labels that each got.

#1503 Use enum in json response
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/DiscrepancyItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/DiscrepancyType.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1503

#1507 fix meta data lease issue
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseAcquirer.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseAcquirerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1507

#1508 add stale end point to get stale blobs
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/StaleBlobControllerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/StaleBlobController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/BlobInfo.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/SearchResult.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/StaleBlobFinder.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/StaleBlobFinderTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1508

#1505 Copy secret for notification queue from reform-scan vault
  infrastructure/main.tf
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1505

#1509 Use new secret for notification queue
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.aat.template.yaml
  charts/bulk-scan-processor/values.yaml
  infrastructure/main.tf
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1509

#1510 add zip deleted field to ZipFileStatus end point
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/zipfilestatus/ZipFileEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ZipStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1510

#1517 Remove ServiceBus connection strings from chart config
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.aat.template.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1517

#1512 Added retry count for OCR validation
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1512

#1520 OCR validation retry delay property
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1520

#1519 Replace usage of ServiceBus connection string in fun tests
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/config/TestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/functionalTest/resources/application.conf
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1519

#1522 Remove no longer used secret
  infrastructure/main.tf
  infrastructure/output.tf
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1522

#1523 Prevent clearing all metadata
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseAcquirer.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseAcquirerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1523

#1521 Metadata retry
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/OcrValidationRetryManagerTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/OcrValidationRetryManager.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/OcrValidationRetryManagerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1521

#1530 Upgrade terraform to 0.13.3
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/test_config.tf
  infrastructure/variables.tf
  infrastructure/versions.tf
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1530

#1533 Revert "Clean-up main.tf"
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1533

#1535 Revert terraform changes
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/test_config.tf
  infrastructure/variables.tf
  infrastructure/versions.tf
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1535

#1537 Upgrade terraform to 0.13.3
  infrastructure/.terraform-version
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/versions.tf
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1537

#1540 fix: prevent terraform for trying to update the app insights
  infrastructure/main.tf
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1540

#1541 Revert "fix: prevent terraform for trying to update the app insights"
  infrastructure/main.tf
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1541

#1536 Add rescan_for column to envelopes table
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ReceivedZipFileRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ZipFilesSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Envelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapper.java
  src/main/resources/db/migration/V058__Add_rescanFor_column_to_envelopes.sql
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTaskTest.java
  src/test/resources/metafiles/valid/with-scannable-items.json
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1536

#1544 Add rescan_for data from envelope to the zipfiles endpoint
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/zipfilestatus/ZipFileEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ZipStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1544

#1543 Add rescan_for information to the envelopes endpoint
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/EnvelopeResponse.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReadEnvelopesControllerTest.java
  src/test/resources/envelope.json
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1543

#1539 Add blockClient and leaseId parameters to OcrValidator
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1539

#1538 Calling ocrValidationRetryManager.isReadyToRetry from BlobProcessorTask
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/OcrValidationRetryManagerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/OcrValidationRetryManager.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/OcrValidationRetryManagerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1538

#1547 add rescan_for to reconciliation report
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ReceivedZipFileRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ReceivedZipFile.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ReceivedZipFileRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedZipFileConverter.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReconciliationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/DiscrepancyType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/ReceivedZipFileData.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedZipFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedZipFileItem.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReconciliationServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1547

#1557 Health config
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/health/ReadinessTest.java
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1557

#1561 bump spring version
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1561

#1560 add rejected Discrepancy
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ReceivedZipFileRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ReceivedZipFile.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ReceivedZipFileRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedZipFileConverter.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReconciliationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/DiscrepancyType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/ReceivedZipFileData.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedZipFileConverterTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedZipFileItem.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReconciliationServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1560
