Repository hmcts/bulk-scan-processor, pull requests merged in 2020-03, with the labels that each got.

#1080 Update script to add second argument for Zip file name
  bin/README.md
  bin/sign-zip-upload.sh
Labels: ns:bsp, rel:bulk-scan-processor-pr-1080

#1088 Bump org.flywaydb.flyway from 6.2.4 to 6.3.0
  build.gradle
Labels: dependencies, ns:bsp, rel:bulk-scan-processor-pr-1088

#1094 Add Phase 2 config for FR
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/resources/application.yaml
Labels: ns:bsp, rel:bulk-scan-processor-pr-1094

#1097 Update Bulk scan daily reports csv file title
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSender.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1097

#1106 Add service for checking if new envelopes have been received
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/alerting/NewEnvelopesChecker.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/LoggerTestUtil.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/alerting/NewEnvelopesCheckerTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1106

#1113 Add scheduled job to check for new envelopes
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/TimeConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/alerting/NewEnvelopesChecker.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/NoNewEnvelopesTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/monitoring/NoNewEnvelopesTaskTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1113

#1107 Change message format to one accepted by notification service
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/ErrorMsg.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/ErrorMsgTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ErrorNotificationHandlerTest.java
Labels: ns:bsp, rel:bulk-scan-processor-pr-1107
