Repository hmcts/bulk-scan-processor, pull requests merged in 2021-09, with the labels that each got.

#2058 DTSBPS-731 add has ocr data field
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/ScannableItemResponse.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeResponseMapperTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2058

#2060 Added logs for changing status of envelope
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeActionService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/OrchestratorNotificationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/EnvelopeProcessor.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2060

#2063 bump to 'org.flywaydb.flyway' version '7.15.0'
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2063

#2068 ReceivedScannableItemRepository
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ReceivedScannableItemRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ReceivedScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ReceivedScannableItemRepository.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedScannableItemItem.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2068

#2069 ReceivedScannableItemsService
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedScannableItemsService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedScannableItemsServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2069

#2071 DTSBPS-749 suppress vulnerability
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2071

#2073 Scan items controller
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/ReceivedScannableItemsResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/ReceivedScannableItemsData.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2073

#2074 bump azure-messaging-servicebus to 7.4.1
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2074

#2078 DTSBPS-739 add idam config
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/NoUserConfiguredException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/idam/Credential.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/idam/JurisdictionToUserMapping.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/idam/JurisdictionToUserMappingTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2078

#2077 Doc types repo
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ReceivedScannableItemRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ReceivedScannableItemPerDocumentType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ReceivedScannableItemRepository.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedScannableItemPerDocumentTypeItem.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2077

#2079 DTSBPS-739 add chart config
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.aat.template.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  charts/bulk-scan-processor/values.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2079

#2082 Doc types service
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedScannableItemsService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedScannableItemsServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2082

#2083 Doc types controller
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/ReceivedScannableItemsPerDocumentTypeData.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2083

#2080 DTSBPS-739 add end point and cache
  build.gradle
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/AuthServiceConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/endpoints/IdamConfigStatusEndpoint.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/idam/AuthenticationChecker.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/idam/JurisdictionConfigurationStatus.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/idam/cache/CachedIdamCredential.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/idam/cache/IdamCacheExpiry.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/idam/cache/IdamCachedClient.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/idam/AuthenticationCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/idam/cache/IdamCacheExpiryTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/idam/cache/IdamCachedClientTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2080

#2088 DTSBPS-755 - Bump versions.junit
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2088

#2094 bump versions-failed depabot PRs
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2094

#2093 ReceivedPaymentsRepo
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ReceivedPaymentRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ReceivedPayment.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ReceivedPaymentRepository.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedPaymentItem.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2093

#2095 upgdare junit5PluginVersion for pitest
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2095

#2100 Payments service
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedPaymentsService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedPaymentsServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2100

#2101 Received payments - controller
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/ReceivedPaymentsResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/ReceivedPaymentsData.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2101
