Repository hmcts/bulk-scan-processor, pull requests merged in 2021-06, with the labels that each got.

#1936 DTSBPS-601 - add controller for get by container and zip filename
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/resources/envelopeResponse.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeController.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1936

#1937 DTSBPS-601 - use new end point in func tests
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/smokeTest/java/uk/gov/hmcts/reform/bulkscanprocessor/TestHelper.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1937

#1943 Added 'produces' attribute to the endpoint
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1943

#1947 avoid CVE-2021-22118
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1947

#1948 Rejected repo
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/RejectedZipFileRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/RejectedZipFile.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/RejectedZipFileRepository.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedZipFileItem.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1948

#1952 arrange dependency management
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1952

#1953 DTSBPS-630 add casenum to log
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessor.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1953

#1954 DTSBPS-630 trim case num
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputEnvelope.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1954

#1955 RejectedZipFilesService
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedZipFilesService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedZipFilesServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1955

#1964 DTSBPS-630 should trim case number
  src/test/resources/metafiles/valid/from-spec.json
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1964

#1963 /rejected-zip-files end point
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/RejectedZipFilesResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/RejectedZipFileData.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1963

#1966 DTSBPS-634 remove unnecessary dependency-set
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1966

#1967 Handling multiple failure events
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/RejectedZipFileRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/RejectedZipFileRepository.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1967

#1969 Update DockerImage to new tagging reference
  Jenkinsfile_CNP
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1969

#1971 Simplified count summary repo
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/EnvelopeCountSummaryRepository.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1971

#1972 ReportsService::getSummaryCountFor
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1972

#1973 /count-summary-report
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1973

#1974 Code improvement
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1974

#1977 Fix summary report
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/EnvelopeCountSummaryRepository.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1977

#1976 DTSBPS-649 Remove unused connection string property
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/QueueConfigurationProperties.java
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1976

#1979 DTSBPS-650 upgrade java chart
  charts/bulk-scan-processor/Chart.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1979

#1981 Tests
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1981

#1982 Tests fix
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1982

#1983 DTSBPS-649 Change notification queue client
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/SchedulerConfigTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusSendHelperTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ServiceBusHelpersConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusSendHelper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationSenderTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1983

#1986 DTSBPS-656 add log for stuck file
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeHandler.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1986
