Repository hmcts/bulk-scan-processor, pull requests merged in 2021-02, with the labels that each got.

#1703 Check wait copy metadata
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseAcquirer.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseAcquirerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1703

#1706 fix flaky integration test
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/SchedulerConfigTest.java
  src/integrationTest/resources/application.properties
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1706

#1705 Delete task
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1705

#1710 Added logs to EnvelopeFinaliserService
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserService.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1710

#1713 Handling null reponse status
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1713

#1714 Remove unused
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1714

#1718 Deleting COMPLETED
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1718

#1719 add env. var for zip wrapping
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1719

#1716 DeleteFilesService
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/DeleteFilesService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/DeleteFilesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1716

#1717 EnvelopeJdbcRepository
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeJdbcRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/DeleteFilesService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/DeleteFilesServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1717

#1720 remove unwrapping for all environments
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/bulkscanprocessor/TestHelper.java
Labels: do not merge, ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1720

#1723 Revert extracting
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/smokeTest/java/uk/gov/hmcts/reform/bulkscanprocessor/TestHelper.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1723

#1721 EnvelopeMarkAsDeletedService
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/DeleteFilesService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeMarkAsDeletedService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/DeleteFilesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeMarkAsDeletedServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1721

#1725 Added lastmodified column
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Envelope.java
  src/main/resources/db/migration/V059__Add_lastmodified_column_to_envelopes.sql
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1725

#1724 Deleting notified files
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1724

#1735 get stale blobs in minutes
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/StaleBlobControllerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/StaleBlobController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/StaleBlobFinder.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/StaleBlobFinderTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1735

#1736 remove use wrap config
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipExtractor.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/bulkscanprocessor/TestHelper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/DirectoryZipper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipExtractorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1736

#1737 remove zipExtractor
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipExtractor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/DirectoryZipper.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipExtractorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1737

#1738 Delete unused property
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/integrationTest/resources/application.properties
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1738

#1739 use async copy
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1739

#1741 suppress netty vulnerability
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1741

#1740 bump spring and fly core version
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1740

#1747 Bump azure-servicebus from 3.6.0 to 3.6.1
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1747

#1752 Included scannable items into zip status
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ZipStatusControllerTest.java
  src/integrationTest/resources/zipcontents/all_items/1111002.pdf
  src/integrationTest/resources/zipcontents/all_items/metadata.json
  src/integrationTest/resources/zipstatus.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/zipfilestatus/ZipFileEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ZipStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1752
