Repository hmcts/bulk-scan-processor, pull requests merged in 2021-11, with the labels that each got.

#2140 DTSBPS-774 avoid CVE-2021-22044
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2140

#2152 DTSBPS-756 fix testing time-stamp
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/config/TestClockProvider.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ClockConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/EnvelopeCountSummaryReportListResponse.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2152

#2153 Added logs
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeActionService.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2153

#2158 DTSBPS-131 Eliminated DOC_SIGNATURE_FAILURE event
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Status.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/Event.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2158

#2160 DTSBPS-798-remove-devApplicationInsightsInstrumentKey
  charts/bulk-scan-processor/values.aat.template.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2160
