Repository hmcts/bulk-scan-processor, pull requests merged in 2021-01, with the labels that each got.

#1656 fix vulnerabilities
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1656

#1668 Initial implementation of EnvelopeReprocessService
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeReprocessService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeReprocessServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1668

#1673 Defined NOTIFICATION_STALE_TIMEOUT_HR
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1673

#1671 Implemented EnvelopeReprocessService
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/EnvelopeNotCompletedOrStaleException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/EnvelopeProcessedInCcdException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/EnvelopeStateException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/Event.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeReprocessService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeReprocessServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1671

#1675 ActionController
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ActionControllerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ActionController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptionhandlers/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeReprocessService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeReprocessServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1675

#1677 EnvelopeRepository::getIncompleteEnvelopesBefore
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1677

#1679 Fixed Swagger annotation
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ActionController.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1679

#1678 IncompleteEnvelopesService
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/IncompleteEnvelopesService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/IncompleteEnvelopesServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1678

#1682 Changed return type
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/IncompleteEnvelopesService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/IncompleteEnvelopesServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1682

#1683 Incomplete envelopes endpoint
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeController.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReadEnvelopesControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReadSingleEnvelopeControllerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1683

#1684 add read right to CFT sas to upload large files
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/SasTokenGeneratorService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/SasTokenGeneratorServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1684

#1687 Delete status charts
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1687

#1688 Delete upload
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTask.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1688

#1694 Wait pending copy
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseAcquirer.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseAcquirerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1694

#1693 getCompleteAndNotifiedEnvelopes method
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1693

#1695 Added container parameter
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1695
