Repository hmcts/bulk-scan-processor, pull requests merged in 2021-03, with the labels that each got.

#1753 stop downloading to get metadata
  src/integrationTest/resources/docker-compose.yml
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1753

#1756 Save local temp folder
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ZipStatusControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledPayments.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledService.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/HttpConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/output/Pdf.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileProcessor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/tasks/processor/DocumentProcessorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1756

#1760 refactor zip process
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileContentDetail.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeProcessorValidationTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1760

#1766 depenabot bumps
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1766

#1761 delete pdf and zipprocessresult classes
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ZipStatusControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledPayments.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledService.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/output/Pdf.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/DocumentProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileProcessingResult.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/tasks/processor/DocumentProcessorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1761

#1757 Add time and total count to response bulk scan processor
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/EnvelopeCountSummaryReportListResponse.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1757

#1770 downgrade com.github.ben-manes.versions
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1770

#1774 Dts 393 new branch for blob info class
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/StaleBlobControllerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/BlobInfo.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/IncompleteEnvelopesService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/StaleBlobFinder.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/StaleBlobFinderTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1774

#1767 Dtsbps 393
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/EnvelopeInfo.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/IncompleteEnvelopesService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/IncompleteEnvelopesServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1767

#1775 refactor zip processor - delete folder
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileProcessor.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileProcessorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1775

#1778 bump flyway-core
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1778

#1779 remove lease logic
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ZipStatusControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/DeleteFilesService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseAcquirer.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseMetaDataChecker.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/DeleteFilesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseAcquirerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/LeaseMetaDataCheckerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1779

#1782 remove unused lease id param
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileRejector.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManager.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileRejectorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/BlobManagerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1782

#1783 include case number to zip report item
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/zipfilestatus/ZipFileEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ZipStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1783

#1786 dependabot bumps
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1786

#1801 update suppress until
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1801

#1802 DTSBPS-444: Adding status and lastmodified to payments table
  src/main/resources/db/migration/V060__Add_status_lastmodified_columns_to_payments.sql
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1802

#1803 DTSBPS-444: Payment repository changes
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/PaymentRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Payment.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/PaymentRepository.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/EnvelopeCreator.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1803

#1809 fix timezone in stale tests
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/StaleBlobControllerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1809

#1810 DTSBPS-444: Adding payment controller
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/PaymentControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/util/TestUtil.java
  src/integrationTest/resources/testData/payment/payments.json
  src/integrationTest/resources/testData/payment/payments_dcn_empty.json
  src/integrationTest/resources/testData/payment/payments_empty.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/PaymentController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptionhandlers/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/errors/FieldError.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/errors/ModelValidationError.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/PaymentControllerTest.java
  src/test/resources/payment/payments.json
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1810

#1811 Dtsbps 446 zipfile status report update
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/zipfilestatus/ZipFileEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ZipStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1811
