Repository hmcts/bulk-scan-processor, pull requests merged in 2021-04, with the labels that each got.

#1814 fix-cleanup after payment-test
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/PaymentRepositoryTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1814

#1813 use config tree
  build.gradle
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.aat.template.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1813

#1815 add new columns to daily report
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriter.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriterTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1815

#1821 suppress CVE-2021-21409
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1821

#1820 use correct Storage url as default
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/config/IntegrationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/PaymentRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ProcessEventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ReceivedZipFileRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItemTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ZipFilesSummaryRepositoryTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1820

#1819 Classification param
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSender.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSenderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1819

#1822 DTSBPS-479: Fixing payment controller response
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/PaymentControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/PaymentRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/PaymentController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/PaymentStatusReponse.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/PaymentControllerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1822

#1825 clean up after tests
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ActionControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/PaymentControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/PaymentRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ProcessEventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ReceivedZipFileRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItemTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ZipFilesSummaryRepositoryTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1825

#1826 Handling NPE
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1826

#1830 DTSBPS-479: Fixing payment controller response
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/PaymentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/PaymentController.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/PaymentControllerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1830

#1823 added total counts in end point zip-files-summary
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/ZipFilesSummaryReportListResponse.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1823

#1836 avoid null reference exception
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/ZipFilesSummaryReportListResponse.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1836

#1835 Dtsbps 463 repo service
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItemRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItemRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1835

#1838 DTSBPS-462-repo
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1838

#1845 dependabot-bumps
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1845

#1846 fix intermittently failing test
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/EnvelopeMsg.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1846

#1839 Dtsbps 462 service
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/zipfilestatus/ZipFileEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/zipfilestatus/ZipFileStatus.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ZipStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1839

#1854 DTSBPS-501 remove hystrix
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/Application.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/AuthServiceConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1854

#1851 ccd-action counts added
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/ZipFilesSummaryReportListResponse.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1851

#1856 DTSBPS-483-repo
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItemRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ZipFilesSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ZipFileSummary.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ZipFilesSummaryRepository.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/reports/zipfilesummary/ZipFileSummaryItem.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1856

#1857 Dtsbps 462 service
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/zipfilestatus/ZipFileStatus.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ZipStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1857

#1849 DTSBPS-462-Controller
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ZipStatusController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ZipStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1849

#1837 DTSBPS-463-controller
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ZipStatusController.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ZipStatusControllerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1837
