Repository hmcts/bulk-scan-processor, pull requests merged in 2021-07, with the labels that each got.

#1987 DTSBPS-656 add case num length validation
  src/main/resources/metafile-schema.json
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/MetafileJsonValidatorTestForInvalidFiles.java
  src/test/resources/metafiles/invalid/long-case-number.json
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1987

#1985 DTSBPS-649 Change envelopes queue client
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/config/IntegrationContextInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelperTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ServiceBusHelpersConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/OrchestratorNotificationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/ServiceBusHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/HeartbeatTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/OrchestratorNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/HeartbeatTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1985

#1995 DTSBPS-649 replace queue client in func test
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/config/TestConfiguration.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1995

#1994 Fix flaky tests
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/EnvelopeCountSummaryRepository.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1994

#1993 DTSBPS-649 replace processed envelope queue client
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/config/IntegrationContextInitializer.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/MessageHandlerConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/QueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ServiceBusHelpersConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/MessageAutoCompletor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/MessageBodyRetriever.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessedEnvelopeNotificationHandler.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/servicebus/MessageAutoCompletorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessedEnvelopeNotificationHandlerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1993

#1996 DTSBPS-649 clean up refactor queue client change
  build.gradle
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/QueueClientConfig.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1996

#2010 Made pobox a list of values
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledPayments.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledService.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForMultiplePoBoxes.java
  src/integrationTest/resources/application.properties
  src/integrationTest/resources/zipcontents/ok_poboxes/1111002.pdf
  src/integrationTest/resources/zipcontents/ok_poboxes/metadata.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ContainerMappings.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationSender.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/ErrorNotificationSenderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ZeroRowFillerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeProcessorValidationTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidatorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2010

#2023 DTSBPS-692 bump java chart
  charts/bulk-scan-processor/Chart.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2023

#2025 Envelope validator test
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/InputEnvelopeCreator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidatorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2025
