Repository hmcts/bulk-scan-processor, pull requests merged in 2021-05, with the labels that each got.

#1871 DTSBPS-526 fix fortify vulnerabilities
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Envelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriter.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1871

#1872 dependabot org.owasp.dependencycheck
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1872

#1876 Fixed logger
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileContentProcessor.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1876

#1880 Fixed method name
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessedEnvelopeNotificationHandler.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1880

#1885 Renamed service class
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ActionControllerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ActionController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeActionService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeActionServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1885

#1881 Extracted processing envelope logic into a transactional method to pr…
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/OrchestratorNotificationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTask.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/OrchestratorNotificationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1881

#1886 Refactor for future changes
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeActionService.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1886

#1887 Renamed test methods
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeActionServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1887

#1884 moveEnvelopeToCompleted
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/EnvelopeNotInInconsistentStateException.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeActionService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeActionServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1884

#1888 Renamed test methods
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ActionControllerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1888

#1889 Controller
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ActionControllerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ActionController.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1889

#1897 DTSBPS-582 - fix test
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/config/IntegrationContextInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/features/SchedulerConfigTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/OrchestratorNotificationTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/OrchestratorNotificationService.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1897

#1898 Fix query
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/EnvelopeCountSummaryRepository.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1898

#1900 Revert "Fix query (#1898)"
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/EnvelopeCountSummaryRepository.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1900

#1899 Removed unused DOC_CONSUMED event and CONSUMED status
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItemRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeRetrieverTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Status.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/Event.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1899

#1901 DTSBPS-589 add delivery and opening dates
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/zipfilestatus/ZipFileEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ZipStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1901

#1902 DTSBPS-589 add create at date and fix tests
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/zipfilestatus/ZipFileEnvelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ZipStatusControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1902

#1903 Added hasPayments
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ZipFilesSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ZipFileSummary.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ZipFilesSummaryRepository.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/reports/zipfilesummary/ZipFileSummaryItem.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1903

#1906 DTSBPS-593 - search by payment dcn
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/PaymentControllerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/PaymentController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/payment/PaymentService.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1906

#1910 Revert has_payments
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ZipFilesSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ZipFileSummary.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/ZipFilesSummaryRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/models/ZipFileSummaryResponse.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/controller/ReportsControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/helper/reports/zipfilesummary/ZipFileSummaryItem.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReportsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/util/CsvWriterTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1910

#1912 remove netty suppressions
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1912

#1916 DTSBPS-601 remove sensitive data from scannable response
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/integrationTest/resources/envelope.json
  src/integrationTest/resources/zipstatus.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeResponseMapper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/NonScannableItemResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/ScannableItemResponse.java
  src/test/resources/envelope.json
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1916

#1921 DTSBPS-601 fix service params
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/EnvelopeProcessor.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1921

#1920 DTSBPS-601 add time limit to query
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeRetrieverService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeRetrieverServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1920

#1923 decrease the probability of not shuffle
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/FileNamesExtractorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1923

#1924 DTSBPS-601 add time limit to jurisdiction queries
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeRetrieverService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeRetrieverServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1924

#1926 Fixed duplicates
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeActionService.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1926

#1925 Fixed blocker issues
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/DeleteCompleteFilesTaskTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1925

#1929 try to fix time test cases
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1929

#1930 DTSBPS-601 - add service to get envelope by container and zipfile
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeRetrieverService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeRetrieverServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-1930
