Repository hmcts/bulk-scan-processor, pull requests merged in 2022-01, with the labels that each got.

#2190 Fixed logging - MERGE AFTER CODE FREEZE
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/ZipFileProcessor.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2190

#2182 Upgrade spring-boot - MERGE AFTER CODE FREEZE
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/info/BlobContainerInfoContributorTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ActionController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/PaymentController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/SasTokenController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/SasTokenResponse.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2182

#2218 Removed PUBLICLAW_ENABLED
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  infrastructure/main.tf
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2218

#2224 DTSBPS-848 add NFD config
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2224

#2228 Added simplified envelopes report
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/EnvelopeCountSummaryRepository.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2228

#2120 DTSBPS-740 document transfer to CDAM
  build.gradle
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  charts/bulk-scan-processor/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ZipStatusControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledPayments.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForDisabledService.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestWithAcquireLease.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTaskTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/HttpConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/Document.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/DocumentManagementService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/DocumentServiceHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/DocumentUploadCredential.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/UploadResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/processor/DocumentProcessor.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/UploadEnvelopeDocumentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/DocumentManagementServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/DocumentServiceHelperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/tasks/processor/DocumentProcessorTest.java
  src/test/resources/fileuploadresponse.json
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2120

#2231 DTSBPS-848 add log for cdam
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/DocumentManagementService.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2231

#2230 Envelopes controller
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsControllerTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2230

#2236 refactor tests
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/DocumentManagementService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/document/DocumentManagementServiceTest.java
  src/test/resources/fileuploadresponse.json
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2236

#2235 Added query for FILE_VALIDATION_FAILURE event
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeCountSummaryRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/EnvelopeCountSummaryRepository.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2235
