Repository hmcts/bulk-scan-processor, pull requests merged in 2022-10, with the labels that each got.

#2643 DTSBPS-1095: Suppress CVE-2022-34305
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2643

#2650 Suppress CVE-2022-42003 and CVE-2022-42004 (DTSBPS-1109)
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2650

#2648 Add new document types for probate service (DTSBPS-1103)
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/functionalTest/resources/exception_metadata.json
  src/integrationTest/resources/zipcontents/ok_poboxes/metadata.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/blob/InputDocumentType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/DocumentType.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapper.java
  src/main/resources/metafile-schema.json
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/EnvelopeMapperTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/mapper/SubtypeTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/msg/DocumentTest.java
  src/test/resources/metafiles/valid/with-scannable-items.json
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2648

#2660 Add document type validation (DTSBPS-1114)
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/integrationTest/resources/zipcontents/invalid-document-type-for-service/1111002.pdf
  src/integrationTest/resources/zipcontents/invalid-document-type-for-service/metadata.json
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidatorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2660

#2687 Configure OCR validation URL for privatelaw (DTSBPS-1133)
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2687
