Repository hmcts/bulk-scan-processor, pull requests merged in 2022-08, with the labels that each got.

#2518 DTSBPS-984: Added actions-api-key
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.aat.template.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidApiKeyException.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2518

#2520 DTSBPS-984: Protect action endpoints
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ActionControllerTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ActionController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptionhandlers/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptions/InvalidApiKeyException.java
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2520

#2549 Suppress CVE-2016-1000027
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2549

#2554 Suppress CVE-2022-29885
  config/owasp/suppressions.xml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2554

#2555 Revert "Bump info.solidsoft.pitest from 1.7.0 to 1.9.0"
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2555

#2362 DTSBPS-933: Fixed logic for envelope abort
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ActionControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeActionService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeActionServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2362

#2557 Add backstage configuration file
  catalog-info.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2557

#2562 DTSBPS-1052: Order events
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ActionControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ProcessEventRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserServiceTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ProcessEventRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeActionService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeActionServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/zipfilestatus/ZipFileStatusServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2562
