Repository hmcts/bulk-scan-processor, pull requests merged in 2022-02, with the labels that each got.

#2250 Fix CVE-2022-23181
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2250

#2257 Dtsbps 859 add proper nfd configs
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2257

#2258 DTSBPS-867 bump-java-chart
  charts/bulk-scan-processor/Chart.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2258

#2266 Reverting privatelaw secrets
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.aat.template.yaml
  charts/bulk-scan-processor/values.yaml
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetSasTokenTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2266

#2268 bump-java-chart
  charts/bulk-scan-processor/Chart.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-2268
