Repository hmcts/bulk-scan-processor, pull requests merged in 2024-04, with the labels that each got.

#3254 initial commit
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/config/JmsProcessedEnvelopeMessageSender.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/config/IntegrationContextInitializer.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/config/TestClockProvider.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/PaymentControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepositoryTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSenderTest.java
  src/integrationTest/resources/application.properties
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/Application.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/AuthServiceConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/ClockConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/HttpConfiguration.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/MessageHandlerConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/jms/JmsQueueClientConfig.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/PaymentController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Envelope.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/EnvelopeRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/NonScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/Payment.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ProcessEvent.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/ScannableItem.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/exceptionhandlers/ResponseExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/OcrData.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/in/PaymentInfo.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/in/PaymentRequest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/out/reports/EnvelopeCountSummaryReportListResponse.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeFinaliserService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeMarkAsDeletedService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/IncompleteEnvelopesService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/OrchestratorNotificationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSender.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/jms/JmsOrchestratorNotificationService.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/jms/JmsQueueSendHelper.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/payment/PaymentService.java
  src/main/resources/application-dev.yaml
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/IncompleteEnvelopesServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSenderTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedPaymentsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/ReceivedScannableItemsServiceTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedZipFilesServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3254

#3262 fix master build Sonar qube duplication errors
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/jms/JmsFileContentProcessor.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTask.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3262

#3263 fix master build Sonar qube unit test coverage
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/JmsFileContentProcessorTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3263

#3264 Remove single servers
  infrastructure/main.tf
  infrastructure/tf-db-flexible-secrets.tf
Labels: ns:bsp, prd:bulk-scan, aat/destroy, plan-on-prod, prod/destroy, rel:bulk-scan-processor-pr-3264
