Repository hmcts/bulk-scan-processor, pull requests merged in 2024-05, with the labels that each got.

#3270 FACT 1698 Renovate Dependency Updates
  build.gradle
  charts/bulk-scan-processor/Chart.yaml
  gradle/wrapper/gradle-wrapper.properties
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/GetSasTokenTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/SasTokenControllerTest.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/SasTokenGeneratorServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3270

#3272 FACT-1776 ASO Migration
  build.gradle
  charts/bulk-scan-processor/values.preview.template.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3272

#3278 FACT-1670
  README.md
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3278
