Repository hmcts/bulk-scan-processor, pull requests merged in 2024-09, with the labels that each got.

#3325 FACT-1897 moved paymentsEnabled to values.yaml
  charts/bulk-scan-processor/Chart.yaml
  charts/bulk-scan-processor/values.yaml
  src/main/resources/application-dev.yaml
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3325

#3331 change to default
  src/main/resources/application-dev.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3331

#3332 FACT-1979 CVE/Dependencies Updates
  .github/dependabot.yml
  build.gradle
  charts/bulk-scan-processor/Chart.yaml
  config/owasp/suppressions.xml
  infrastructure/.terraform-version
  infrastructure/state.tf
Labels: ns:bsp, prd:bulk-scan, aat/add-or-update, prod/add-or-update, rel:bulk-scan-processor-pr-3332

#3333 FACT-1798 changes for 17 to 21
  .github/workflows/ci.yml
  .github/workflows/publish-openapi.yaml
  Dockerfile
  README.md
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/test/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3333
