Repository hmcts/bulk-scan-processor, pull requests merged in 2024-10, with the labels that each got.

#3341 updating time and adding log message to check scheduler working
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSender.java
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3341

#3342 Checking mail
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/email/ReportSender.java
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3342

#3343 update pact to latest version
  build.gradle
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3343

#3345 updates for func tests
  .gitignore
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/config/JmsProcessedEnvelopeMessageSender.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/JmsProcessedEnvelopeMessageHandlingTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ProcessedEnvelopeMessageHandlingTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/config/jms/JmsReceivers.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/jms/JmsProcessedEnvelopeNotificationHandler.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3345

#3344 FACT-2013 app insights refine logging
  lib/applicationinsights.json
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3344
