Repository hmcts/bulk-scan-processor, pull requests merged in 2024-07, with the labels that each got.

#3304 FACT-1871 - Removes temp db hard coded values
  charts/bulk-scan-processor/values.aat.template.yaml
  charts/bulk-scan-processor/values.preview.template.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3304

#3303 cve updates
  build.gradle
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/OcrValidator.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3303

#3307 FACT-1881 changed db to imported image and chart bump
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/bulk-scan-processor/Chart.yaml
  docker/database/Dockerfile
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/EnvelopeControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ZipStatusControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedFilesReportServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/services/storage/OcrValidationRetryManagerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/CleanUpRejectedFilesTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/ProcessorTestSuite.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/UploadEnvelopeDocumentsTaskTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/util/AzureHelper.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/util/TestStorageHelper.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3307

#3269 FACT-1395 remove assertEnvelopeContainsDocsOfAllowedTypesForService DO NOT MERGE
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/tasks/BlobProcessorTaskTestForFailedStatus.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/EnvelopeHandler.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidator.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/validation/EnvelopeValidatorTest.java
Labels: do not merge, ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3269

#3302 FACT-1688 Get Rejected Zip By Name Endpoint
  src/functionalTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/RejectedZipByNameEndpointTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/RejectedZipFileRepositoryTest.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/controllers/ReportsController.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/entity/reports/RejectedZipFileRepository.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/model/common/Event.java
  src/main/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedZipFilesService.java
  src/test/java/uk/gov/hmcts/reform/bulkscanprocessor/services/reports/RejectedZipFilesServiceTest.java
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3302
