Repository hmcts/bulk-scan-processor, pull requests merged in 2025-04, with the labels that each got.

#3385 chart changes
  charts/bulk-scan-processor/Chart.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3385

#3386 FACT-2181 removed config for ibca
  src/main/resources/application-dev.yaml
  src/main/resources/application.yaml
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3386

#3387 FACT-2361 Remove Pact and cleanup
  Jenkinsfile_CNP
  build.gradle
  src/contractTest/java/uk/gov/hmcts/reform/bulkscanprocessor/ocrvalidation/SampleAppConsumerTest.java
  src/contractTest/resources/sampleapp/ocr-with-missing-last-name.json
  src/contractTest/resources/sampleapp/valid-ocr.json
Labels: ns:bsp, prd:bulk-scan, rel:bulk-scan-processor-pr-3387
